[2016-01-10 13:43] oscerd opened #4 "Release on Maven Central"
Hi,

When do you plan to release jnats on Maven Central?

Thanks

[2016-01-11 14:56] pires commented on #4
@oscerd [already is](https://github.com/nats-io/jnats#maven-central). There hasn't been any stable release yet so you have to do with snapshots for now.

[2016-01-11 15:11] oscerd commented on #4
thanks @pires

I mean a stable version.

[2016-01-11 15:11] mcqueary commented on #4
A stable release will be posted today.

[2016-01-11 15:12] oscerd commented on #4
Thanks @pires and @mcqueary

[2016-01-13 23:15] tylertreat-wf opened #5 "Subscription missing messages"
We've been hitting a bug which seems to be a result of a subscription "missing" a message. I know that NATS doesn't guarantee delivery, but this isn't something we've hit with the Go client and we hit it with jnats even just running gnatsd locally, making me think there's possibly a bug in the client. At first, I thought perhaps the message was arriving before the subscription was processed, but I

[2016-01-13 23:17] mcqueary commented on #5
Hi Tyler, I’ll have a look. This was using the 0.3.0-SNAPSHOT, or the latest GitHub master? 

-- 
Larry McQueary
Sent with Airmail

On January 13, 2016 at 4:15:47 PM, Tyler Treat (notifications@github.com) wrote:

We've been hitting a bug which seems to be a result of a subscription "missing" a message. I know that NATS doesn't guarantee delivery, but this isn't something we've hit with the Go cli

[2016-01-13 23:18] tylertreat-wf commented on #5
0.3.0-SNAPSHOT. Thanks, Larry!

[2016-01-14 05:58] mcqueary commented on #5
Easy fix. One line of code. The problem was one that I see frequently, as the parent of 3 boys: not flushing! Very different kind of output stream, however.

[2016-01-14 13:34] mcqueary commented on #5
I deployed a new snapshot to Nexus earlier that incorporates this fix, based on the current `master`.

[2016-01-14 19:40] tylertreat-wf commented on #5
@mcqueary Did you push a 0.3.1 snapshot? I only see 0.3.0-SNAPSHOT in Nexus.

[2016-01-14 23:47] mcqueary commented on #5
I pushed it as 0.3.0. It should have a different timestamp in the full filename. I probably should have marked it as 0.3.1, but was in a hurry.

[2016-01-15 15:46] tylertreat-wf commented on #5
We seem to still be hitting a similar problem:

[code]

Output:

[code]

[code]

[2016-01-15 15:53] mcqueary commented on #5
Yes, this seems to be a timing issue. I've been playing with it since last night. If I insert a 250 microsecond sleep in the `request()` method, I can get it to pass consistently for 10,000 messages. Anything less, and I see the intermittent timeouts you're seeing.

It's just a convenience function. While I debug this, you could just replace it with the equivalent calls:

[code]

[2016-01-15 17:01] kozlovic commented on #5
Larry, check your use of the flusher. I looks like you call kickFlusher() outside of the connection's lock. For the channel, you are using a LinkedBlockingQueue. This is not thread-safe by default. kickFlusher() checks the size of the queue to see if it should 'signal'. That could be a problem.

[2016-01-15 17:50] tylertreat-wf commented on #5
Is that true? I thought all `BlockingQueue` implementations were thread-safe?

[2016-01-15 17:56] kozlovic commented on #5
Sorry, my mistake they are. But the problem is that although actions are atomic, in this case you would need still a lock. When checking if it needs to put a message in the queue (fc.getCount() == 0), this operation is atomic, and may return that there is something in the queue. By the time this function returns, the queue may be empty and sit in a wait. The caller will then decide that there was

[2016-01-15 17:58] tylertreat-wf commented on #5
Yep, makes sense.

[2016-01-15 18:05] kozlovic commented on #5
Conversely, it is possible that several threads add something to that channel. Say that the queue is empty. Several threads try to kickFlusher(). It is possible that all calls to getCount() return 0. They would then each put something in the queue. No big deal, though. In this case it is better to "over" notify, than miss a notification ;-)

[2016-01-15 18:08] mcqueary commented on #5
Ivan, thanks, which call to kickFlusher are we talking about? There are many.

[2016-01-15 18:17] kozlovic commented on #5
I see unsubscribe(), subscribe(), publish(). The fact that kickFlusher() checks on `bw != null` requires that it is called under the connection lock. But again, that would not be enough.

The flusher() thread is getting notifications outside of the connection's lock (and I understand why). But you would either have to use a lock to protect the signal and execution, or simply always add to the queu

[2016-01-15 18:20] mcqueary commented on #5
Always adding to the flusher queue seems like it would be very inefficient. I'll do some tests.

[2016-01-15 18:22] kozlovic commented on #5
Agreed. That's not ideal. But try just to see if this is the issue at hand. You can even leave the kicFlusher() where they are for now (again, checking bw outside of the conn's lock is wrong, but let's ignore this for now).

[2016-01-15 18:23] mcqueary commented on #5
Yep, I understand.

[2016-01-15 18:37] mcqueary commented on #5
Thanks for pointing out the problems with `kickFlusher()`.  I am fixing them, but I don't believe that's the problem. Looking at the gnatsd log, I am finding that the issue seems to consistently be that the async message handler (responder) eventually does not receive a request message from the requestor, and therefore does not respond, which causes the timeout on the requestor side. So it's a pro

[2016-01-15 18:42] kozlovic commented on #5
If you look at Tyler's log of this morning, you see that the request mades it to the subscriber. It is the response that is not sent back, and then the requestor times-out after 5 seconds. So this would still be consistent with a buffer not flushed, wouldn't it?

[2016-01-15 18:45] kozlovic commented on #5
To illustrate:

[code]

cid2 is the publisher, cid1 is the subscriber. cid:1 receives the request 'blah' (size 4). After 5 seconds, the requestor cid2 times out and unsubscribes.

[2016-01-15 18:52] mcqueary commented on #5
I'm looking at results from more recent code on my laptop, and over a single connection (based on Tyler's original example), so the signature is different. I'll get to the bottom of it. Thanks.

[2016-01-15 19:00] ColinSullivan1 commented on #5
Could there be an exception being thrown but ignored someplace?

I see a potential issue in the Channel with regarding the Object.wait() method.  Wait() can have spurious wake ups, which would result in undefined behavior in the channel.  I could see this causing problems and could be worth looking into here.  It should be fixed anyhow.

e.g. in Channel.get() - try { this.wait(); } catch (Interrup

[2016-01-15 19:05] mcqueary commented on #5
I'm not using a `wait()` in the current Channel implementation. I removed all of that explicitly for this reason about a week ago :)

[2016-01-15 19:33] mcqueary commented on #5
@kozlovic, Regardless of the different output, I think you're right. I see from tailing the log file along with my own tracing that somehow the request message isn't being kicked out to the server until the request timeout occurs.

[2016-01-15 19:39] kozlovic commented on #5
Because when the timeout occurs, the unsubscribe() will send a proto that will flush the buffer. That being said, this is not what we see in the logfile that I excerpted above. The request is really sent to the client 5 seconds before the timeout. Anyway, I will let you investigate. We are trying to help, but I know this can be distracting. Good luck and let us know if you need anything!

[2016-01-15 19:41] mcqueary commented on #5
Appreciate the help always!

[2016-01-15 19:59] mcqueary commented on #5
@tylertreat-wf Thanks for your patience. I'm going to push a 0.3.1-SNAPSHOT in a little while that fixes the flushing problem, hopefully for good! (and thanks @kozlovic )

[2016-01-15 20:59] tylertreat-wf commented on #5
No worries! Thanks for digging into this. :)

[2016-01-18 18:10] mcqueary commented on #4
Hi, 0.3.1 is now available via Maven Central: http://search.maven.org/#artifactdetails%7Cio.nats%7Cjnats%7C0.3.1%7C

Just add this to your POM:
[code]

[2016-01-18 18:10] #4 closed

[2016-01-18 18:12] mcqueary commented on #5
Tyler, I think we have resolved this in [jnats-0.3.1](http://search.maven.org/#artifactdetails%7Cio.nats%7Cjnats%7C0.3.1%7C). Please try it out.

[code]

[2016-01-19 07:19] oscerd commented on #4
Hi @mcqueary

Many thanks :-)

[2016-01-20 16:21] #5 closed

[2016-01-23 00:27] mcqueary opened #8 "ConnectionFactory URL default mechanisms"
When URL is not supplied, if host/port/user/pass have been supplied, ConnectionFactory should construct a default URL.

[2016-01-23 16:42] mcqueary opened #9 "Incorrect property name for max pending msgs"
Typo: should be "maxpending" vs "maxpings" in Constants.java

[2016-01-23 16:44] #9 closed

[2016-02-10 02:14] mcqueary commented on #8
Fixed by ed022f8

[2016-02-10 02:14] #8 closed

[2016-02-16 18:36] mcqueary opened #11 "Support async request() convenience API"
Support an asynchronous 1:N request call allows the user to supply their own `MessageHandler` callback to handle responses. Something along the lines of:

[code]

Thought will need to be given to managing the life of the subscription, probably using a `ScheduledExecutorService` to terminate the subscription once the timeout is reached.

Thought should also be given to whether this is just provided

[2016-02-22 16:08] pires commented on #11
Here's how I do it:
[code]

[2016-02-27 17:23] sachinwalia2k8 opened #12 "NUID generated Id seems guessable"
Larry,

I used one of the classes NUID from snapshot to generate UUID. As per jnats code this is how it is used. I did the same thing:

`NUID.nextGlobal()
`
However when I did the same thing in all the places UUID is needed I found that generated Ids are somewhat guessable. This is the result of consecutive runs:

[code]
If you see first 20 chars are same. If this an expected output?

thanks,

Sac

[2016-02-27 18:14] mcqueary commented on #12
No, the prefix length should be 12, and only those should be the same. Thanks for bringing this to my attention; although i tested for uniqueness, I didn't test for this.

[2016-02-27 19:41] mcqueary commented on #12
@sachinwalia2k8 On further thought, this functions as intended. Each NUID is a base36 string 22 characters in length, with fixed prefix of 12 characters generated from a SecureRandom using SHA1PRNG, and the last 10 characters being an incremental sequence. The increment is a (pseudo-)random number between 33 and 333, and is fixed for each instance of NUID. Considering that the generated strings ar

[2016-02-27 19:45] sachinwalia2k8 commented on #12
Thanks Larry. let me try that and update this ticket.

[2016-02-27 20:13] sachinwalia2k8 commented on #12
Larry your explanation makes sense. I tried the other approach with creating NUID instance on every request. It definitely gives far more randomized distribution. On testing the three different approach: Random UUID vs NUID on-demand vs NUID global there is definitely an advantage in going for generating via nextGlobal as this is best in performance followed by NUID on demand and slowest is UUID.r

[2016-02-27 20:13] #12 closed

[2016-04-06 22:56] mcqueary opened #14 "Make examples simpler and more similar to Go"

[2016-04-06 23:00] mcqueary opened #15 "Expose MaxPending APIs"

[2016-04-07 00:11] #14 closed

[2016-04-07 00:11] #15 closed

[2016-04-07 00:23] mcqueary opened #17 "Improve async subscription performance"
LinkedBlockingQueue may not be fast enough due to internal lock contention. Investigate more efficient data structure(s) and/or refactor subscription concurrence strategy if necessary.

[2016-04-28 17:43] sachinwalia2k8 opened #20 "NUID is generating non printable characters sometimes"
I am using NUID in one of the project as a replacement for UUID. I noticed that at times it is generating non printable characters. Is this by design?

[2016-04-28 17:45] mcqueary commented on #20
Definitely not by design. Are you using the latest snapshot?

On Thursday, April 28, 2016, Sachin Walia <notifications@github.com> wrote:

--
*Larry McQueary* | Director, Messaging Technology
larry@apcera.com | @mcqueary | github.com/mcqueary

[2016-04-28 22:29] sachinwalia2k8 commented on #20
Thanks @mcqueary for quick response. I'll try the latest snapshot today and will let you know if it is still happening.

[2016-04-28 22:33] mcqueary commented on #20
Thanks. I'll also take a look at the code.

On Thu, Apr 28, 2016 at 4:29 PM, Sachin Walia <notifications@github.com>
wrote:

--
*Larry McQueary* | Director, Messaging Technology
larry@apcera.com | @mcqueary | github.com/mcqueary

[2016-05-17 03:37] simon-miao opened #22 "About Basic Usage"
I want to run the Basic Usage, but It's not a java app, can you tell me how to runt it?

Thanks.

[2016-05-17 03:37] simon-miao commented on #22
nc.subscribe("foo", m -> {
    System.out.println("Received a message: %s\n", new String(m.Data));
});

[2016-05-17 03:38] mcqueary commented on #22
That's a lambda expression requiring Java 8.

On Monday, May 16, 2016, simon-miao <notifications@github.com> wrote:

--
*Larry McQueary* | Director, Messaging Technology
larry@apcera.com | @mcqueary | github.com/mcqueary

[2016-05-18 01:38] simon-miao commented on #22
Thanks for your answer.

[2016-05-18 01:38] #22 closed

[2016-05-23 21:52] mcqueary commented on #20
Sachin, did you run into this problem again with the latest snapshot?

[2016-06-02 19:38] mcqueary opened #24 "Java compatibility for Android"
Currently Android Studio only supports Java 7, and many Android devices are still stuck with Java 6 runtime environment. To support running in these older environments, it would be ideal if the jnats implementation could retain Java 6 runtime compatibility.

[2016-06-09 13:32] laugimethods opened #25 "ConnectionFactory's JavaDoc: provide the list of keys that can be used on the properties."
The connectionFactory is defined by a Properties object, which should be fill with values defined by a defined set of Keys.
Those keys can be inferred from the actual source code [ConnectionFactory.java](https://github.com/nats-io/jnats/blob/master/src/main/java/io/nats/client/ConnectionFactory.java), but are not listed on the generated [ConnectionFactory API](http://nats-io.github.io/jnats/io/nat

[2016-06-16 19:19] kevinsookocheff-wf opened #26 "Closing NATS connection may not close all running threads"
Hi,

I'm working on getting a simplified reproducible example. Will update this issue when that is ready.

The general problem is that closing a NATS connection may not close all threads if there is work being done in ConnectionImpl.deliverMsgs. I looks like if Channel.get() is called from deliverMsgs it calls q.take() (Channel.java:73), which blocks until data is available. I believe that calling

[2016-06-16 19:51] kevinsookocheff-wf commented on #26
Example application that cannot exit:

[code]

[2016-06-22 16:55] remotegun commented on #24
to avoid crashing cause by current jnats, I have to set the minimum Android SDK version to 18. but it turned number of supported devices from more than 10,000 to almost 6,000.

[2016-06-23 12:37] remotegun commented on #24
Due to a documented error, using jnats on older devices cause this error:

java.lang.NoClassDefFoundError: java.util.concurrent.Phaser
                                                                              at io.nats.client.ConnectionImpl.<init>(ConnectionImpl.java:156)
                                                                              at io.nats.client.ConnectionFactory.createCo

[2016-06-23 12:56] pires commented on #26
I can confirm this behavior but haven't had the time to produce a PR I'm proud of since AFAIK `BlockingQueue.clear()` will not wake `.take()` as @kevinsookocheff-wf suggested. [JRE documentation is clear about the fact `BlockingQueue` doesn't support a _shutdown_ behavior](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/BlockingQueue.html).

Quoting:

[2016-06-23 12:58] pires commented on #26
TBH I'm scared as hell of managing manually threads. However, @mcqueary is much more of a Java developer than I'll ever be so I bet he has a solution or two under the sleeve.

[2016-06-23 13:00] pires commented on #24
As a side note, [Java 8 is supported on Android N](https://developer.android.com/preview/j8-jack.html).

[2016-06-23 13:02] remotegun commented on #24
@pires yes, but it is SDK 23. there are more than 4,000 devices which doesn't support even SDK 18.

[2016-06-23 13:08] pires commented on #24
@remotegun I didn't nor do disagree. It was just a side note for (who knows?) future reference.

[2016-06-23 16:43] kevinsookocheff-wf commented on #26
I could take a stab at this but I'm having trouble getting the dev environment setup (can't find parent pom.xml when checking out a fresh copy of this repo).

[2016-06-23 16:58] pires commented on #26
@kevinsookocheff-wf you need to clone https://github.com/nats-io/nats-parent-pom and `mvn install`.

[2016-06-24 07:05] mcqueary commented on #24
@remotegun  @pires

I have changed the NATS parent pom to default to java 1.7, and made the necessary code changes for now. I'm extremely reluctant to drop back to Java 6. Farzad can you please test this?

If needed, I can get rid of the Phaser usage, which was only experimental to begin with.

[2016-06-24 07:20] remotegun commented on #24
@mcqueary the current pom.xml isn't changed recently. were should I get the new version you were working on it?

[2016-06-24 16:10] mcqueary commented on #24
The change is in the [nats-parent-pom](https://github.com/nats-io/nats-parent-pom).

[2016-06-25 15:52] remotegun commented on #24
mvn package
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Detecting the operating system and CPU architecture
[INFO] ------------------------------------------------------------------------
[INFO] os.detected.name: osx
[INFO] os.detected.arch: x86_64
[INFO] os.detected.classifier: osx-x86_64
[WARNING] Failed to inject reposit

[2016-07-01 20:45] remotegun opened #30 "java.lang.NumberFormatException Invalid long: "�""
Today I got this error:

[code]

[2016-07-14 09:27] pires opened #32 "Client doesn't reconnect with TLS"
My client code:
[code]
Now, the connection works and I have thousands of subscriptions and publishers working for days.

But at a certain moment in time, the client disconnects and never reconnects.
I'm sorry about the log format, but I'm using a Logstash-like encoder for further log processing. Also, order is from newest to oldest:
[code]

On the server side, again from newest to oldest:
[code]

[2016-07-14 16:35] mcqueary commented on #32
We didn't have a test for this. Baaaad developer (hint: me). Thanks for catching this!

[2016-07-14 16:46] mcqueary commented on #26
@pires you flatter and overestimate me, sir.

@kevinsookocheff-wf I do believe that PR #31  closes this, but will confirm.

[2016-07-14 19:12] mcqueary commented on #26
There are actually two cases to consider here.

- Explicit unsubscription: `AsyncSubscription::unsubscribe()` method wasn't properly terminating the feeder thread, which Tyler's PR #31 addresses.
- Indirect unsubscription through closing the connection:`Connection::close()` isn't correctly terminating async subscriptions. @kevinsookocheff-wf code above illustrates this problem.  He's using an anon

[2016-07-14 19:59] mcqueary commented on #30
Hi Farzad, can you provide a test case that reproduces this? Thanks!

[2016-07-14 21:14] mcqueary commented on #24
You need to `mvn install` and then build jnats.

[2016-07-18 18:55] aricart commented on #24
What specific Android versions are you targeting?

[2016-07-19 04:02] remotegun commented on #30
Hi Larry, It just happened once on a Samsung S5, Android 5.0 and this stack trace is the only thing I have got about it.

[2016-07-22 18:07] pires commented on #32
@mcqueary do you agree this is critical? I mean, the workaround is to not use TLS on NATS 👎 .

[2016-07-22 18:09] mcqueary commented on #32
I do indeed. Looking at code today. If you're on slack I'd like to chat
realtime a bit about this and then post an update here.

On Friday, July 22, 2016, Paulo Pires <notifications@github.com> wrote:

--
*Larry McQueary* | Director, Messaging Technology
larry@apcera.com | @mcqueary | github.com/mcqueary

[2016-07-22 19:52] mcqueary opened #33 "Fix import issue in AsyncSubscriptionImpl.java"
Needs `import java.io.IOException;`. Oversight in recent manual merge.

[2016-07-25 04:25] remotegun commented on #30
We still receiving this issue. last night from Android 5.1, Galaxy J1 Ace (j1acevelte)
java.lang.NumberFormatException: Invalid long: "�"
	at java.lang.Long.invalidLong(Long.java:124)
	at java.lang.Long.parse(Long.java:363)
	at java.lang.Long.parseLong(Long.java:353)
	at java.lang.Long.parseLong(Long.java:321)
	at io.nats.client.ConnectionImpl.processMsgArgs(ConnectionImpl.java:1458)
	at io.nats.c

[2016-08-01 13:35] remotegun commented on #24
INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Detecting the operating system and CPU architecture
[INFO] ------------------------------------------------------------------------
[INFO] os.detected.name: osx
[INFO] os.detected.arch: x86_64
[INFO] os.detected.classifier: osx-x86_64
[WARNING] Failed to inject repository session p

[2016-08-01 13:38] remotegun commented on #30
this issue is going to be a big problem for us on Android devices. do you have any plan to fix it out in a short term?

# OS Version: 4.4.2
# Device: GT-I9505
# RAM Free: 19.1%
# Disk Free: 53%

#0. Crashed: readloop: 0 0 0x0000000000000000
       at java.lang.Long.invalidLong(Long.java:124)
       at java.lang.Long.parse(Long.java:361)
       at java.lang.Long.parseLong(Long.java:352)
       at j

[2016-08-03 21:07] aricart commented on #30
Can you provide the version/snapshot of the API are you using?

[2016-08-04 00:16] remotegun commented on #30
it's 0.3.1. Because of incompatibility with Android devices I can not use newer version of jnats.

[2016-08-04 00:22] remotegun commented on #24
do you have any hints for me to fix it?

[2016-08-04 19:41] pires commented on #32
hi @mcqueary any updates? Branch `tls-reconnect-fixes-#32` has nothing I can look at yet.

[2016-08-04 20:06] ColinSullivan1 commented on #32
@mcqueary - Would you like another set of eyes on this?

[2016-08-04 20:11] pires commented on #32
I'm willing to help as well.

[2016-08-04 23:02] aricart commented on #24
@remotegun  I have created a branch https://github.com/nats-io/jnats/tree/long-exception you can try with your client. The parsing code was throwing the NumberFormatExceptions, and killing your client. The branch will initiate a reconnect. Let me know if this solves the issue on your side.

[2016-08-05 17:07] remotegun commented on #30
thank you.
I receive below message on compiling time. do you have any hint to fix it?
it doesn't provide a jar file at the end.

[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Detecting the operating system and CPU architecture
[INFO] ------------------------------------------------------------------------
[INFO] os.detected.n

[2016-08-05 17:10] mcqueary commented on #30
@remotegun This does not create a jar file. It installs the NATS parent POM in your local M2 repo.

[2016-08-05 17:11] aricart commented on #30
Also make sure you do:
[code]

[2016-08-05 17:14] mcqueary commented on #30
@aricart This repo does not produce a jar file. `mvn package` will have no useful effect. The sole product of this build is its `pom.xml`.

[2016-08-05 17:17] mcqueary commented on #30
Please note my revised comment.

[2016-08-05 17:25] aricart commented on #30
@mcqueary  is correct.

[2016-08-09 11:31] pires commented on #32
FYI, tried with `gnatsd` 0.9.2 and same problems exists. However, there's a new debug message in the server that may help here.

Steps to reproduce:
* Start 1 gnatsd instance
* Start app instance (one subscription alone, nothing else)
[code]
* Stop gnatsd instance - disconnection cb kicks-in and app logs that connection is lost
* Start 1 gnatsd instance
* Logs in the new instance show one client i

[2016-08-09 15:40] pires commented on #33
This was fixed by #34.

[2016-08-09 22:29] mcqueary opened #37 "Refactor createConn() to handle mock injection better"
`ConnectionImpl#createConn()` should unconditionally produce a new TCPConnection instance. Currently it checks for `this.conn == null` to determine whether a TCPConnection has been injected (i.e. a mock), or it needs to create a new TCPConnection. This logic interferes with the way the reconnect sequence works for TLS connections. `createConn()`

`createConn()` should call a static factory method

[2016-08-10 09:17] pires commented on #37
Refs #32

[2016-08-10 15:32] #37 closed

[2016-08-10 16:08] #32 closed

[2016-08-11 01:23] #33 closed

[2016-08-11 01:32] mcqueary opened #39 "Make release-related steps execute only for master branch in travis-ci"
Currently PRs that would otherwise pass tests in travis-ci are failing due to some steps that should only execute on the `master` branch. This needs to be fixed.

[2016-08-11 02:13] mcqueary commented on #30
@remotegun I am taking @aricart branch and creating a 0.3.2 release from it. You will be able to build it without worrying about `nats-parent-pom` at all.

[2016-08-11 03:44] remotegun commented on #30
that would be great @mcqueary!

[2016-08-11 14:02] pires opened #42 "Doesn't work with 0.9.2 connect_urls"
Given the following server info:
[code]

I get:
[code]

This happens because JSON parsing in `ServerInfo` ctor is done _manually_ instead of using a JSON parser library, which would most probably prevent this.

[2016-08-11 14:07] pires commented on #42
With `gnatsd` 0.8.1 it works alright.
Tests would pass because of a couple things:
1. Mosts tests mock server-info (use `TCPConnectionMock`)
2. Tests against local NATS server don't have `connected_urls` because it's a single server, right @kozlovic?

[2016-08-11 15:47] mcqueary commented on #39
Resolved by #40

[2016-08-11 15:47] #39 closed

[2016-08-12 03:54] mcqueary commented on #42
Good catch. Will add a fix (and a test) for this.

For anyone reading this later and pondering "why do they not use a JSON parser library?", we try our best to avoid any unnecessary dependencies, and we control the exact format of the INFO string (for now), so it still doesn't seem worth it. We will continue to hope that Java eventually includes JSON support. :)

[2016-08-16 08:22] prophe05 opened #44 "Connection scope"
What is the best practice for connection lifecycle management? Should I create connection per thread, or per application for example?

[2016-08-16 13:45] aricart commented on #44
Can you describe why you think you need multiple connections?

Connections have additional overhead and bookkeeping. One simple example is the NATS protocol will test to see if the client is 'alive'.

Unless there's some very specific need or situation, likely you'll only require a single connection. With that said, it may be useful to have two connections as a way of controlling a process via a s

[2016-08-16 13:45] #44 closed

[2016-08-17 05:57] mcqueary opened #48 "Fix NPE in testConnectionFactoryStringStringArray"
This happens. Fix it.

[code]

[2016-08-17 07:35] prophe05 commented on #44
One connection per application is my case!) But I worry about threadsafty, when nats connection is a shared resource!

Thank you for your response!

[2016-08-19 03:52] #42 closed

[2016-08-19 17:35] kcarlson2915 opened #54 "jnats 0.5.0 and 0.5.1-Snapshot error with gnatsd 0.9.4"
Connection to 0.9.4 server using a String array of 3 elements with the format [nats://(IP):4222,nats://(IP):4222,nats://(IP):4222] throws the attached stacktrace. The same code running with the 0.8.1 server functions as expected.
![screen shot 2016-08-19 at 10 24 43 am](https://cloud.githubusercontent.com/assets/2475661/17818179/3cade176-65f7-11e6-84ff-fa0d0cd323d0.png)

[2016-08-19 17:39] mcqueary commented on #54
Hi, can you give me the exact INFO string your client is receiving? One easy way to get that is to `telnet <your NATS node IP> <your port>`, and just cut and paste the exact string here.

This should be fixed in 0.5.1, so I'd like to see what I missed :) Thanks!

[2016-08-19 17:46] kcarlson2915 commented on #54
{"server_id":"W2v6Vo9KOOq4Ujc5lKL0Sx","version":"0.9.4","go":"go1.6.3","host":"10.21.2.87","port":4222,"auth_required":false,"ssl_required":false,"tls_required":false,"tls_verify":false,"max_payload":1048576,"connect_urls":["10.21.2.95:4222","10.21.2.105:4222"]}

[2016-08-19 17:47] mcqueary commented on #54
Thanks Kevin, I'll have a look right now.

[2016-08-19 17:52] mcqueary commented on #54
@kcarlson2915 Kevin, can you verify that you're actually testing this against the 0.5.1-SNAPSHOT? I can reproduce that exception with 0.5.0 (which I expect), but am unable to reproduce that exception using 0.5.1-SNAPSHOT.

[2016-08-19 17:59] kcarlson2915 commented on #54
Snapshot appears to be working correctly. Early morning mistakes I guess, but thanks for taking the time to look at it.

[2016-08-19 17:59] #54 closed

[2016-08-19 18:01] mcqueary commented on #54
My pleasure! Actually, I'm happy to know somebody else is banging on my fix before I release it :)

[2016-08-21 06:48] mcqueary commented on #30
This has been fixed in release 0.3.2. Need to verify whether it's still an issue in 0.5.1.

[2016-08-21 06:48] remotegun commented on #30
great! thank you

[2016-08-21 06:49] mcqueary commented on #30
I'm going to go ahead and close this. Please reopen if 0.3.2 doesn't solve the problem.

[2016-08-23 19:14] aldenpeterson-wf opened #57 "newInbox hangs on ubuntu trusty after several iterations"
The following code:

[code]
 run on ubuntu/trusty (via docker from OS:X) repeatedly begins taking 2+ minutes to execute `newInbox`. The first several executions do not take this amount of time - however subsequent attempts do. This is normally 2-5 total executions before the failure behavior begins occurring.

I was using the following scripts to test this:

`pom.xml`
[code]

Configuring the envir

[2016-08-23 19:25] wallyqs commented on #57
curious but wonder what happens if setting `JAVA_OPTS` to use something like `java.security.egd=file:///dev/urandom` ? Think in `jnats` we're using `SHA1PRNG` which can possibly block on some occasions afaik... maybe could try using `NativePRNGNonBlocking` too as well as an alternative if that is the case.

[2016-08-23 22:03] mcqueary commented on #57
@wallyqs Great suggestion. As I was saying to @aldenpeterson-wf via Slack, I'm pretty sure it has to be something entropy pool-related on Linux, so we can definitely give that a shot.

[2016-08-23 22:50] mcqueary commented on #57
@aldenpeterson-wf - Confirmed the behavior you observed on my local precise64 vagrant box.
@wallyqs - I passed `-Djava.security.egd=file:///dev/urandom` to mvn and that seemed to solve the problem. I will try integrating `NativePRNGNonBlocking` (i.e. `SecureRandom.getInstanceStrong()`) and see if this solves the problem overall.

[2016-08-24 16:35] aldenpeterson-wf commented on #57
@mcqueary  looks like that flag will get us past the issues we were running into as well.

[2016-08-25 17:15] mcqueary opened #58 "Update NUID to match nats-io/nuid"
As the title implies, the Java NUID implementation is a few fixes behind Go. It should be updated.

[2016-08-27 11:42] Hronom opened #59 "Maven 0.5.1 release problem"
The [artifact](http://search.maven.org/#artifactdetails%7Cio.nats%7Cjnats%7C0.5.1%7Cbundle):
[code]
can't be used because it have dependency on parent with `1.0-SNAPSHOT`, please fix this typo.

[2016-08-29 09:33] oscerd commented on #59
Yes, this is related to https://github.com/nats-io/nats-parent-pom/issues/3

Maybe a release of parent is needed.

[2016-08-29 18:48] mcqueary commented on #59
Hi -- yes, that was a mistake on my part. I just released `jnats-0.5.2`, which resolves this (depends on the stable `nats-parent-1.1.pom`). Give it a little while to show up on Central.

[2016-08-29 18:48] #59 closed

[2016-08-29 18:49] oscerd commented on #59
Thanks Larry :-)

Il 29/ago/2016 20:49, "Larry McQueary" <notifications@github.com> ha
scritto:

[2016-08-29 19:01] mcqueary commented on #57
I have no better solution than `-Djava.security.egd=file:///dev/urandom`, which seems to be the accepted answer. Closing this for now, and will add something to the README. More info here:

http://security.stackexchange.com/questions/14386/what-do-i-need-to-configure-to-make-sure-my-software-uses-dev-urandom

[2016-08-29 19:01] #57 closed

[2016-08-31 02:40] #58 closed

[2016-08-31 03:30] #48 closed

[2016-08-31 07:10] mcqueary commented on #26
Resolved this by ensuring that the connection close triggers the subscription close, which will shut down the msgFeeder thread for async subscriptions.

[2016-08-31 07:16] #26 closed

[2016-08-31 07:20] mcqueary commented on #20
Sachin, if you can provide an MVCE or details that might help reproduce this, we can revisit.

[2016-08-31 07:20] #20 closed

[2016-09-07 15:40] mcqueary commented on #25
Isn't this what you're looking for (hint: go to javadoc for `io.nats.client.Constants` and in any property, click `Constant Field Values`?
http://static.javadoc.io/io.nats/jnats/0.5.3/constant-values.html#io.nats.client.Constants.PROP_CLOSED_CB

[2016-09-08 03:00] chilly opened #66 "Memory leak or logic error"
run nats client and limit memory.

init connection:
[code]

[code]

[code]

run with jvm args:

[code]
after run a while:  20mins, the program throw the exception.

Memory leak or logic error ?

[code]

[2016-09-08 14:54] chilly opened #67 "heap is not big enough ?"
in 5.3.0 jnats

server 2g memory. and jvm use default heap size, maybe 256m.

then build 10 connections  and only publish datas. After running a while, it throws the exception.

java.io.IOException: nats: outbound buffer limit exceeded
	at io.nats.client.ConnectionImpl._publish(ConnectionImpl.java:1996)
	at io.nats.client.ConnectionImpl.publish(ConnectionImpl.java:2059)
	at io.nats.client.Connecti

[2016-09-08 16:00] mcqueary commented on #66
Thanks for reporting this. We don't currently test with a buffer this large (200MB). I'll have a look. Hopefully it can be reproduced in < 20min :)

[2016-09-08 16:42] mcqueary commented on #67
When your connection to the NATS server is unexpectedly dropped, the `Connection` object flushes any pending data to a buffer, and when/if the connection is reestablished, that buffer is flushed to the new connection. The error you received is because that reconnect buffer is set too small. Try calling `cf.setReconnectBufSize(2 * 1024 * 1024)` (or larger) and see if you still get this issue.

More

[2016-09-08 17:09] mcqueary commented on #66
Looking at this and your other issue (#67), I think the root cause is likely that your publisher is overrunning your consumer, and you're seeing issues on both sides. This is not a memory leak. It is a logic or configuration issue or maybe both. The parser buffer that stores the incoming msg body is smaller than the msg body it's trying to store. That shouldn't happen.

Can you show me a your publ

[2016-09-09 23:38] kirbyclover opened #68 "Subscribe and receive previously published messages"
Forgive me, I also posted this question on Stackoverflow: http://stackoverflow.com/questions/39420689/nats-persistent-message-java-client

I'm trying to retrieve messages using the Java Client that are sent when a subscriber is offline.

I'm running the NATS Streaming Server.

I can see using the [Go client][1] that I can publish a message and later add a subscription to retrieve all published mes

[2016-09-11 22:28] mcqueary commented on #68
If you're using `nats-streaming-server`, you need to use the [java-nats-streaming](https://github.com/nats-io/java-nats-streaming) client. The feature you're looking for (subscription to historical messages) only exists in that client.

Regardless, here's why you saw what you did with the `jnats` client:

In your example code, "`works()`" happens to work because your subscription is actually alrea

[2016-09-11 22:31] #68 closed

[2016-09-12 16:13] kirbyclover commented on #68
Ok. Thank you.

On Sun, Sep 11, 2016 at 3:31 PM, Larry McQueary <notifications@github.com>
wrote:

[2016-09-20 01:30] #17 closed

[2016-09-20 01:38] mcqueary commented on #67
@chilly Chico, please try your test(s) with the latest snapshot if you get a chance.

[2016-09-20 10:28] chilly commented on #66
the publisher is not in the program.  In java process only do subscribe.
And I use telnet to access nats in the same time. The telnet messages are ok, but java program throws the exception.

[2016-09-20 11:28] chilly commented on #66
set reconnection buffer size = 200*1024*1024 solve the problem.  But in #67 , outofbound exception appears once. And can not repro again. thanks. I close the issue.

[2016-09-20 11:30] chilly commented on #66
2016-09-20 11:29:32,109 ERROR [pinger] io.nats.client.ConnectionImpl: I/O error during flush
java.net.SocketException: Broken pipe
        at java.net.SocketOutputStream.socketWrite0(Native Method)
        at java.net.SocketOutputStream.socketWrite(SocketOutputStream.java:109)
        at java.net.SocketOutputStream.write(SocketOutputStream.java:153)
        at java.io.BufferedOutputStream.flushBuf

[2016-09-20 11:32] chilly commented on #66
. maybe the reason is that nats is stop

[2016-09-23 03:50] chilly opened #70 "I found ArrayIndexOutOfBoundsException exception in jnats"
[EDIT: formatting]

[code]

Exception throws here:
[code]
data.length=7704 but want copy 0-7705 ?

the buffer here:
[code]

[2016-09-29 19:49] mcqueary commented on #70
Good catch -- thank you!

[2016-09-29 23:17] mcqueary commented on #70
@chilly Besides the OOBE problem, there appears to be a parsing problem here. In your output, `buf` contains the last half of one message, and the first half of the next one. That would be OK, if `offset` marked the beginning of a message body, but it doesn't.

Can you reproduce this problem every time? If so, can you give me an [MCVE] (http://stackoverflow.com/help/mcve) that demonstrates it?

Th

[2016-09-29 23:24] mcqueary commented on #70
It would also be useful to know what charset encoding you are using.

[2016-10-01 13:24] chilly commented on #70
ascii only.  I have already write correct simple nats java client for the parser. In your code, multi-thread will throws the exception. I tried to lock the parse part, but failed. So I write my own parse. I paste here.  The solution is very different with your code. And I Hope you will get my idea.

only one thread  call loop(). And only one thread call in.read() method.

If you want use multi-thr

[2016-10-03 14:37] mcqueary commented on #70
Apologies, but I do not understand what you are saying, especially the 'your code'/'my code' part. Is the problem you initially reported above something that occurred while running a client that is using the public interfaces of the `jnats` client contained in this repository?

The particular piece that is confusing me is your mention of multi-threaded access. Although `jnats` supports multi-threa

[2016-10-03 15:33] mcqueary commented on #66
@chilly `gnatsd` being stopped could defubuteky cause this:

`2016-09-20 11:29:32,109 ERROR [pinger] io.nats.client.ConnectionImpl: I/O error during flush
java.net.SocketException: Broken pipe`

,,,but it would not cause the `BufferOverflowException` you're seeing on the subscriber side. If you can give me some runnable publisher/subscriber code that reproduces the problem(s), I cantry to help you

[2016-10-03 15:33] #66 closed

[2016-10-03 15:35] mcqueary commented on #67
As you suggested in #66, it appears your `gnatsd` is stopping. If you can provide a runnable test case and details, I'm happy to look into it further.

[2016-10-03 15:36] #67 closed

[2016-10-20 17:04] mcqueary opened #78 "Update getServers to match Go client"
`Connection#getServers` should optionally return the list of "discovered" servers, reflecting the Go API. Affected APIs:

`getServers(boolean discoveredOnly)`
`getDiscoveredServers()` invokes `getServers(ftrue)`
`getServers()` - invokes `getServers(false)`

[2016-10-20 17:10] mcqueary opened #79 "Update getServers to match Go client"
`Connection#getServers` should optionally return the list of "discovered" servers, reflecting the Go API. Affected APIs:

`getServers(boolean discoveredOnly)`
`getDiscoveredServers()` invokes `getServers(ftrue)`
`getServers()` - invokes `getServers(false)`

[2016-10-20 17:13] mcqueary commented on #78
duplicate of #79

[2016-10-20 17:13] #78 closed

[2016-10-26 18:47] #70 closed

[2016-10-28 23:12] mcqueary opened #82 "Package test utilities as jnats-test-utils.jar"

[2016-11-01 16:51] mcqueary opened #83 "All threads don't exit on connection close"
The `scheduler` executor service isn't being shut down. Will fix.

[2016-11-03 02:38] #79 closed

[2016-11-03 02:39] mcqueary commented on #83
Closed by #84

[2016-11-03 02:39] #83 closed

[2016-12-06 22:47] mcqueary opened #90 "Remove SubscriptionCloseRequest protocol"
See https://github.com/nats-io/go-nats-streaming/pull/123.

[2016-12-25 22:21] Hronom opened #92 "Subscriber unsubscribes when receive message"
I got strange behaviour, the subscriber unsubscribes when receive message and try to reply.

I use NATS version 0.9.6, with modified config(set `max_payload`):
gnatsd.conf
[code]

jnats client:
[code]

NATS requester:
[code]

NATS replier:
[code]

I got no errors or exceptions, so what's can be wrong? Is this problem with big `max_payload` parameter?

[2016-12-26 10:40] Hronom opened #93 "Scatter gather pattern support"
What need to be done:
1. Create reply topic and subscribe
2. Send query on broadcast topic with reply address
3. Listen for responses and unsubscribe after a time limit
4. Aggregate response and return result

Thanks to the @mhaan from Slack, it looks like there is not much changes need to be done to support this feature.

[2017-01-05 20:58] mcqueary commented on #90
This issue was moved to nats-io/java-nats-streaming#43

[2017-01-05 20:58] #90 closed

[2017-01-05 21:14] mcqueary commented on #92
Hi @Hronom, thanks for reporting this and thanks for your patience. I'm just catching up from the holidays. Let me have a look and I'll update shortly.

[2017-01-06 00:46] mcqueary commented on #92
OK I think I see what's happening. You have a fast producer/slow consumer problem.`NatsReplier` uses a single connection with multiple subscribers in a queue group. `NatsRequester` uses 10 connections/10 threads, each publishing 3MB messages as fast they can.

`NatsRequester` is publishing messages at a pace that `NatsReplier` cannot keep up with, because its single connection is a bottleneck. Eve

[2017-01-19 20:57] #92 closed

[2017-01-19 21:02] Hronom commented on #92
@mcqueary Big thanks!
Can you please elaborate me about: how I can in `NatsReplier` detect that it unsubscribe and resubscribe?

[2017-01-22 15:46] magdkudama opened #96 "Connecting to NATS cluster (pub/sub) not working"
Hello,

I've integrated NATS Java in my project, and it's all working fine when using a single NATS instance, but it's not working when I'm using NATS Java with a cluster. I've ended up writing the simplest possible code. Please check this simple code:

[code]

Result being:

[code]

So the producer IS producing data, but the consumer IS NOT subscribing to it? Am I missing something here? My NATS

[2017-01-23 22:06] mcqueary commented on #96
Hi there! I'm looking at your examples on my system right now. Give me a little bit.

[2017-01-23 22:08] mcqueary commented on #96
How is your cluster configured? Can you provide your `gnatsd` config?

[2017-01-24 09:23] magdkudama commented on #96
Hi, the code is actually exactly like the one appearing on the website: https://nats.io/documentation/server/gnatsd-cluster/.

Instead of Docker I was using my local though.

[2017-01-24 10:41] magdkudama commented on #96
Hello again @mcqueary, I'm sending you the config and the output.

Server 1:
[code]

Server 2:
[code]

Server 3:
[code]

As you can see, I'm using NATS 0.9.4, I can update to the latest version if required.

A.conf
[code]

B.conf
[code]

C.conf
[code]

Does this make sense?

[2017-01-24 22:27] mcqueary commented on #96
@magdkudama Thanks for providing this. I'll report back once I've tested this config on my system.

[2017-01-24 22:31] kozlovic commented on #96
@magdkudama If your test program is as described above, you are setting the server URLs to:
[code]
These are the ROUTE listen ports, not the clients, which based on your config files are `4222, 4223 and 4224`.

Furthermore, since you are using 2 connections for subscribe and publish and running the subscriber first but in a thread, you should make sure that the subscription has reached the server

[2017-01-24 23:36] mcqueary commented on #96
@magdkudama @kozlovic is right on all counts. As far as the synchronization, to put it in context of your code example, adding `nc.flush()` and e.g. a `CountDownLatch` would provide the synchronization you need to ensure the subscribe happens before publish.

Something along these lines:

[code]

[2017-01-25 09:32] magdkudama commented on #96
That's such a stupid mistake! I'm sorry for wasting your time guys.

Obviously, now it works fine. Thanks a lot.

[2017-01-25 09:32] #96 closed

[2017-01-25 15:57] mcqueary commented on #96
Don't feel bad, I didn't notice it either at first, since I was looking for a route problem, not a "connecting to wrong port" problem. Thankfully @kozlovic has sharper eyes than both of us :)

[2017-01-25 16:03] mcqueary commented on #96
See also nats-io/gnatsd/issues/424, which should make the problem more obvious to the user in the future :)

[2017-01-25 16:13] magdkudama commented on #96
That sounds good, thanks both for your help.

[2017-02-07 06:07] duhmojo opened #98 "Maven and heavy dependency requirements make installation impossible"
Hi. I don't want to be that guy, but I've been trying all night to get the official jnats client "installed" at all.

Using Eclipse (4.6.1) on Ubuntu 16.04, the Maven dependency in the global repo imports a bundle type dependency:
[code]
Eclipse will report "Missing artifact io.nats:jnats:bundle:0.7.3". I followed the trail to Maven Central which has 1.0 as the latest version. The Maven global rep

[2017-02-07 12:28] mcqueary commented on #98
It's OK, you can be that guy :) especially if I screwed something up in the
latest release (which was Thursday), in which case *I'm* that guy! ;)

I apologize for your frustration., I'll look at it right now.

On Mon, Feb 6, 2017 at 11:07 PM duhmojo <notifications@github.com> wrote:

--
*Larry McQueary* | NATS.IO Product Management
@mcqueary | github.com/mcqueary

[2017-02-07 13:07] mcqueary commented on #98
The import in question seems to have been inserted by my IDE while I wasn't
looking. IntelliJ IDEA is sometimes a tad more helpful than I would like :)

The good news is that it's just a test dependency and the import was not
even necessary, therefore your workaround was fine.

I'll look into adding OpenJDK to our test matrix in Travis.

On Tue, Feb 7, 2017 at 5:28 AM Larry McQueary <larry@apcera.

[2017-02-07 15:13] mcqueary commented on #98
I'll leave this issue open pending a stable release that closes it, but the 1.1-SNAPSHOT just pushed an hour ago should resolve this, if you care to give it a try.

[2017-02-07 21:09] bagguley opened #99 "Performance degradation in version 1.0"
The performance of the java client has dramatically decreased from v0.7.3 to v1.0. The NatsBench utility reports a 30% performance reduction for the production of a million 100-byte messages and my own applications run at one quarter of the speed when producing messages.

[2017-02-07 22:01] mcqueary commented on #99
Whoa. That's really surprising. What gnatsd version? I'll look into it.

On Tue, Feb 7, 2017 at 1:09 PM, bagguley <notifications@github.com> wrote:

--
*Larry McQueary* | NATS.IO Product Management
@mcqueary | github.com/mcqueary

[2017-02-07 22:04] bagguley commented on #99
I used it with the latest Linux version 0.9.6 of gnatsd, 64bit.

[2017-02-07 22:19] mcqueary commented on #99
@bagguley Thanks for raising this issue. I see how the problem was introduced and I'll get it fixed ASAP.

[2017-02-07 22:46] bagguley commented on #99
No problem, I look forward to the fix!

[2017-02-09 22:13] mcqueary commented on #99
Closed by #101

[2017-02-09 22:13] #99 closed

[2017-02-09 22:15] mcqueary commented on #98
Note:  we now test against openjdk8 in Travis CI.

[2017-02-13 10:13] mcqueary commented on #99
Hi, it's in the current master 1.1-SNAPSHOT if you would like to try it out.

On Tue, Feb 7, 2017 at 3:46 PM bagguley <notifications@github.com> wrote:

--
*Larry McQueary* | NATS.IO Product Management
@mcqueary | github.com/mcqueary

[2017-02-14 19:12] mcqueary commented on #98
Closed by ancillary changes contained in #100

[2017-02-14 19:12] #98 closed

[2017-02-16 13:51] ChainGank opened #103 "src/main/java/io/nats/client/Parser.java#L206"
`int toCopy = ps.ma.size - ps.msgBuf.limit();`
should be
`int toCopy = ps.ma.size - ps.msgBuf.position();`
?

[2017-02-16 20:04] mcqueary commented on #103
Yes. And apparently my tests for split messages are inadequate, else I would have caught this sooner.  Thanks!

[2017-02-17 09:20] #103 closed

[2017-03-06 08:35] chilly opened #104 "SSL test throws Exception when run ITTLSTest"
[TEST START] testTlsSuccessSecureConnect
[TEST ENDED] Time elapsed: 7.822 sec

javax.net.ssl.SSLException: Unrecognized SSL message, plaintext connection?

	at sun.security.ssl.InputRecord.handleUnknownRecord(InputRecord.java:710)
	at sun.security.ssl.InputRecord.read(InputRecord.java:527)
	at sun.security.ssl.SSLSocketImpl.readRecord(SSLSocketImpl.java:973)
	at sun.security.ssl.SSLSocketImpl.perf

[2017-03-06 08:36] chilly commented on #104
I use gnatsd  0.9.6 version

[2017-03-06 18:30] mcqueary commented on #24
Closed by #55

[2017-03-06 18:30] #24 closed

[2017-03-06 18:56] mcqueary commented on #104
@chilly usually we see this occur when there is a timing issue (e.g. in Travis CI, where things can run very slowly at times). What environment are you running this in?

[2017-03-07 06:04] chilly commented on #104
start = System.currentTimeMillis();
System.out.println("start connection:"+start);
            try (Connection connection = cf.createConnection()) {
                assertFalse(connection.isClosed());

                connection.publish("foo", "Hello".getBytes());
                connection.close();
            } finally {
                srv.shutdown();
            }
        } catch (Exception e1

[2017-03-07 06:15] chilly commented on #104
Inheriting IO, psInfo =/workspace/java-nats/target/gnatsd -DV -config /workspace/java-nats/src/test/resources/tls_1222_verify.conf
Started [/workspace/java-nats/target/gnatsd -DV -config /workspace/java-nats/src/test/resources/tls_1222_verify.conf]
[7128] 2017/03/07 14:13:43.842556 [INF] Starting nats-server version 0.9.6
[7128] 2017/03/07 14:13:43.842669 [DBG] Go build version go1.7.4
[7128] 2017

[2017-03-07 06:17] chilly commented on #104
Why i/o timeout ? The time is less then 1 sec. How to solve this case?

[2017-03-10 01:32] chilly commented on #104
I find the solution in gnatsd. In server.go file,  Change s.opts.TLSTimeout to 6 or much longer. The connect will be established.

[2017-03-10 01:35] mcqueary commented on #104
Thanks for letting us know, @chilly ... I assume you mean you changed it in the config file, right?

[2017-03-10 01:35] #104 closed

[2017-03-10 01:43] chilly commented on #104
O, I changed the code.  But you want to change config file.
try

tls {
 timeout: 6
}

[2017-04-20 12:27] film42 opened #105 "SocketException on publish with forceKick=true while reconnecting"
Looks like when you call publish with force flush, the "kick the flusher" is not protected with a try/catch and ends up raising a `SocketException` error to the caller. Is this behavior considered correct or incorrect? Seems like a bug to me, but I was just wondering what you guys thought.

I found this while testing failover scenarios where I have two gnatsd servers in a cluster with only one run

[2017-04-20 15:29] ColinSullivan1 commented on #105
That definitely looks like a bug; thank you for raising this issue.

[2017-04-20 17:45] #105 closed

[2017-05-02 20:15] bagguley commented on #99
Sorry for the delay in getting back to you. The performance looks good now. Any idea when it might be released? Also, GitHub is showing the latest release as 0.5.3 -> https://github.com/nats-io/java-nats/releases

[2017-05-02 22:47] ColinSullivan1 commented on #99
@bagguley , Good to hear about the performance.  About the github release - the current SNAPSHOT is pretty far ahead of the github releases.  I plan to normalize those at the next stable (non-snapshot) release.

There are a few other things we are looking at before another release - is this blocking you?

Thanks,
Colin

[2017-05-03 17:49] bagguley commented on #99
Yes, it would be good to sort out the versioning, it's not clear which ones are snapshots. Plus. the nats.io website says that the latest version is 0.7.1, which is confusing.

It's not blocking me at the moment as I'm using a client version prior to 1.0.

[2017-05-11 10:02] mccraigmccraig opened #111 "async subscriptions leaking threads"
i am on version 1.0. i am creating an async subscription with a call to:

[subscribeAsync(String subject, String queue, MessageHandler cb)](https://github.com/nats-io/java-nats/blob/1.0/src/main/java/io/nats/client/ConnectionImpl.java#L1884)

and getting an `io.nats.client.AsyncSubscriptionImpl` instance back

calling [close()](https://github.com/nats-io/java-nats/blob/1.0/src/main/java/io/nats/cl

[2017-05-11 10:16] mccraigmccraig commented on #111
ok, i think i have it - it looks like [SubscriptionImpl.unsubscribe(boolean ignoreInvalid)](https://github.com/nats-io/java-nats/blob/1.0/src/main/java/io/nats/client/SubscriptionImpl.java#L130) doesn't set `SubscriptionImpl.closed=true` which has the knock on effect that [ConnectionImpl.waitForMsgs(AsyncSubscriptionImpl sub)](https://github.com/nats-io/java-nats/blob/1.0/src/main/java/io/nats/cli

[2017-05-11 13:35] mccraigmccraig commented on #111
PR: https://github.com/nats-io/java-nats/pull/112

[2017-05-11 13:41] mccraigmccraig opened #113 "async subscription Thread creation"
currently async subscriptions create a `Thread` per active subscription - this is problematic for even moderately large numbers of active subscriptions - with a 64-bit vm default `Thread` stack size of 1MB then 10k connections leads to a minimum 10GB memory requirement before doing any actual processing

[2017-05-11 20:47] jtdudley2 commented on #113
I was evaluating nats-io and ran across the same thing.

I did a quick proof of concept to change this behavior to use a single dispatch thread for async subscriptions.

https://github.com/jtdudley2/java-nats/commit/99c17ec4fe0f29ab0c4800b1f44a8d2c84de25d3

[2017-05-11 20:57] ColinSullivan1 opened #114 "Support large numbers of subscribers"
In order to support large numbers (thousands) of asynchronous subscribers in an application, using one thread per subscriber to handle message events requires more resources than are typically available. An option should be provided that will setup a NATS connection to process all subscriber message events in a pool of threads, providing a choice of scalability over performance.

This will address

[2017-05-11 21:00] ColinSullivan1 commented on #113
@mccraigmccraig , @jtdudley2 , Thank you for raising and evaluating this issue.  This is an issue that spans a few of our clients.  While it's been addressed elsewhere, unfortunately it has not been addressed here in the java client yet.  I've opened #114 to add this feature by the next release.

[2017-05-30 14:51] ColinSullivan1 opened #116 "Add handler invoked when a new server joins the NATS Cluster"
Add functionality to mirror the go-nats feature, nats-io/go-nats#282.

[2017-05-30 14:52] ColinSullivan1 opened #117 "More protocol friendly request pattern."
Add functionality to mirror the go-nats feature, nats-io/go-nats#295.

[2017-06-05 06:18] grange74 opened #119 "Code in Basic Usage section of README.md doesn't compile against version 1.0"
I was just trying out this library and noticed a few compilation issues with the code in the Basic Usage when using against version 1.0 of the library.

Here is what i changed to get my code working:

- The "Simple Sync Subscriber" code should use the `SyncSubscription` class instead of generic `Subscription` and the `nextMsg` method is now `nextMessage`
[code]

The "Requests and Replies" code sho

[2017-06-19 15:31] petemiron opened #121 "Add compilation and tests for documentation examples"
Test added to private repo for basic usage: https://github.com/nats-io/java-nats-examples/blob/master/src/test/java/io/nats/jnats/AppTest.java

We need to add tests for:

- [ ] TLS
- [ ] Wildcard Subscriptions
- [ ] Queue Groups
- [ ] Advanced Usage
- [ ] Clustered Usage

[2017-06-28 16:30] #117 closed

[2017-07-25 12:58] roli8200 opened #123 "Build Error on windows"
Cannot build java nats on windows:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-antrun-plugin:1.8:run (prepare) on project jnats: An Ant BuildException has occured: **Can't get https://github.com/nats-io/g
natsd/releases/download/v0.9.4/gnatsd-v0.9.4-windows-${nats.arch}.zip to D:\EclipseWorkspace\HouseControlCommunication\jnats\java-nats-0.5.3\target\gnatsd-v0.9.4-windows-${nats

[2017-07-25 13:55] shaiaTradair opened #124 "How to set durable subscription ?"
How to set durable subscription ?
Can't find method that handle it ?

public SyncSubscription subscribe(String subject) {
        return this.subscribeSync(subject, (String)null);
    }

    public SyncSubscription subscribe(String subject, String queue) {
        return this.subscribeSync(subject, queue);
    }

    public AsyncSubscription subscribe(String subject, MessageHandler cb) {
        r

[2017-07-25 14:54] ColinSullivan1 commented on #124
@shaiaTradair , Thank you for your interest in NATS!

This client is for use with core NATS; durable subscriptions are a feature of NATS streaming.  You can find more information related to durable subscribers [here](https://github.com/nats-io/java-nats-streaming#durable-subscriptions), in the java-nats-streaming client.

[2017-07-25 14:54] #124 closed

[2017-07-25 18:05] ColinSullivan1 commented on #123
@roli8200 , We appreciate your interest in NATS!

I was able to reproduce this error; thank you for raising this issue.

The workaround is to:

* Create an empty file named `gnatsd` inside the `java-nats/target` directory to prevent the download attempt.  The basic tests run by `mvn install` should pass for you at this point.
* If you are developing additional tests or will be running integration

[2017-07-25 22:00] #123 closed

[2017-08-08 21:30] ColinSullivan1 commented on #11
At this time, functionality along these lines should occur outside of the core NATS library.

[2017-08-08 21:30] #11 closed

[2017-08-08 21:33] #111 closed

[2017-08-09 14:10] stevenosborne-wf opened #126 "Make Subscription isValid check more robust"
The documentation for a `Subsriptions`'s `isValid` method claims to check if subscription is "active". However, looking over the source code, it appears to just check that the `Subscription` object was initialized with a non-null [`ConnectionImpl`](https://github.com/nats-io/java-nats/blob/1.0/src/main/java/io/nats/client/SubscriptionImpl.java#L73). This private `conn` class variable doesn't even

[2017-08-09 14:25] tylertreat commented on #126
It looks like the subscription's `conn` is already being set to `null`: https://github.com/nats-io/java-nats/blob/1.0/src/main/java/io/nats/client/ConnectionImpl.java#L1527-L1528

[2017-08-10 12:46] jebbench opened #127 "[Documentation] Add more detailed explanations and examples of the driver features"
I've found the following to be missing from the documentation:

- A link to the streaming driver/note that this ISN'T the streaming driver.
- The different ways to connect - e.g. the different connection types and how to use the ConnectionFactory for each of them.

Adding a wiki giving more detail on the above would be helpful.

[2017-08-22 04:36] pims commented on #113
@ColinSullivan1 do you know if anyone is actively working on this issue? It would be a ***major*** improvement for large number of subscribers.

[2017-08-22 16:00] tylertreat commented on #113
I don't think anyone is working on this at the moment. @jtdudley2's branch looks like the right way to solve this. I think we should evaluate bringing that change in.

[2017-08-22 16:55] ColinSullivan1 commented on #113
@tylertreat , @jtdudley2 , @pims , I apologize, haven't been able to get to this yet, and see that it is becoming an issue.

We'd want to provide option to at least enable/disable this behavior, and provide associated tests.  The most congruent client with this feature would be the .NET client PR, [here](https://github.com/nats-io/csharp-nats/pull/124), although @jtdudley2's proof of concept is si

[2017-08-23 20:17] bagguley opened #128 "Client stops reconnecting after a reconnect failure"
I'm using Nats streaming 0.5.0 but with the normal Java client version 0.7.3. There is a high data rate and recently I encountered weird behaviour. I think the server was cutting off the client because it was too slow, the connection is configured to reconnect automatically, which it did but it looks like the server disconnected the client before the doReconnect() method is finished and this resul

[2017-08-31 19:04] #82 closed

[2017-09-01 18:29] ColinSullivan1 commented on #127
@jebbench , thank you for raising this issue.  We do need to update the documentation and make a clearer distinction between NATS and NATS streaming.

[2017-09-01 20:13] ColinSullivan1 commented on #128
@bagguley , Thank you for raising this issue:  It looks like we we need to document the write deadline in the NATS server configuration.

First, about the corrupt data stream - when reconnecting, there is the possibility of a partial message in the in the client's write buffer.  This is likely what you are seeing.  If this happens, your client will discarded the partial message and reconnect to an

[2017-09-01 20:13] #128 closed

[2017-09-12 11:05] fadeAce opened #129 "[question]How nats client api is to do with async callback , & seen lambda in api doc only support over jdk1.8+?"

[2017-09-12 11:08] zbyzhengzong commented on #129
such as doing
sub(topic, message,m->{
   callback();
})
was it a native implement to go-based Nats-server , and will it be slower than go api (gnats)?

[2017-09-13 15:56] mpilone opened #130 "Support a socket read timeout in the connection properties"
I ran into an issue where one of the machines running a nats instance locked up in a state where it would accept TCP connections but not respond/process data. That's a separate issue unrelated to nats. However while the machine was in this state, I found that Java applications using the Java client would hang at startup if they selected this broken remote server.

From the stack trace (see below),

[2017-09-13 21:15] ColinSullivan1 commented on #130
@mpilone , thank you for raising the issue; this feature does look like it was considered at one time, and certainly seems like a reasonable request.  Would you be interested in submitting a PR?

Thanks,
Colin

[2017-09-14 20:44] ColinSullivan1 commented on #129
@zbyzhengzong , Thank you for using NATS!

When creating an asynchronous callback, you can either use java lambda style functions, or for previous java version compatibility, pass an object that implements the `MessageHandler.onMessage(Message msg);` interface, found [here](https://github.com/nats-io/java-nats/blob/0.5.3/src/main/java/io/nats/client/MessageHandler.java#L20).

The java client was b

[2017-09-15 07:56] zbyzhengzong commented on #129
Thanks for reply!
And i'm sure to use Nats ClientAPI ,but what confuse me is that i'm sure to use a J-api but may Clients that using J-api slower than G-api , so will it possible that i'm to use a cross-lang call from Java to call go api using dynamic lib build by golang api exported in cgo buildmode(like: go build -o xxx.so -buildmode=c-shared xxx.go).

[2017-09-28 15:21] kozlovic commented on #113
@ColinSullivan1 @tylertreat @jtdudley2 and all others that want to contribute.

I believe that the goal of the PR should be to:
- If option is selected, not create a thread per subscription. In other words, the current `waitForMsgs` runnable should not be started when the subscription is created.
- The dispatcher pool should ensure that messages from the same subscription are dispatched (message c

[2017-09-28 15:46] ColinSullivan1 commented on #113
@kozlovic , I agree, thank you for enumerating these.  For all, in #114, there are references to this feature implementation in C#, which is the closest to this client in terms of architecture.

[2017-09-30 10:15] timboudreau commented on #113
@kozlovic I think the [new pull request](https://github.com/nats-io/java-nats/pull/132) meets all of your requirements.

In the pull request, I currently have all of the functional tests set up to use pooled delivery.  Probably a lot of them should be run in both modes.  There is one test that fails -
`ITSubscriptionTest.testAsyncErrHandler()` because its assumptions are wrong for pooled delivery

[2017-10-02 15:45] ColinSullivan1 commented on #30
This seems to have occurred in jnats 1.0 on android.  Reopening this issue.

[2017-10-04 15:50] kozlovic opened #133 "NatsBench issues"
To be inline with the tools for the other NATS clients, the tool
should divide the number of messages by the number of publishers,
and each subscriber should be receiving the number of messages
specified in the command line (since this is pub/sub).

In other words, `-np 10 -ns 10 -n 1000000` should result in:
- 10 producers each sending `1,000,000 / 10 = 100,000` messages
- 10 consumers each recei

[2017-10-04 17:40] #133 closed

[2017-10-16 16:45] #114 closed

[2017-10-16 16:46] kozlovic commented on #113
PR #135 should have addressed that.

[2017-10-16 16:46] #113 closed

[2017-11-10 09:04] avlasor opened #138 "Allow to disable reconnecting buffer"
Hi!
I would like to propose to allow the disabling of reconnecting buffer. Currently in Go client it can be done setting the buffer size with -1 but for java client it is not possible. If we set buffer size  to -1 or 0, the default value for buffer is taken. Moreover if a small size is configured (for example 1), the first message is always buffered and resend when client is reconnect. I was askin

[2017-11-24 12:58] RedShift1 opened #139 "Subscription dies when an unchecked exception is thrown in the message handler"
Consider this code:

[code]

When someOperation(...) throws an unchecked exception, the subscription dies and no further messages are delivered to the handler.

The expected behaviour would be that the message handler keeps receiving messages.

[2017-11-27 18:40] kozlovic commented on #139
This has been already addressed in master: https://github.com/nats-io/java-nats/blob/master/src/main/java/io/nats/client/ConnectionImpl.java#L1406
There are plans to have a release soon.

[2017-11-28 08:38] RedShift1 commented on #139
Ah ok. I was testing this on version 1.0. Just ignoring it seems like a bad idea, although processing continues, your messages would still be disappear and you'd have no idea why. Wouldn't it be better if the exception was logged or at least t.printStackTrace()?

[2017-11-28 16:11] kozlovic commented on #139
It's a library, so logging may not mean anything (or not be wise) depending on how the library is used. I think that ignoring user level exceptions at the library level is perfectly fine. If the user is concerned that some code he/she calls inside the message callback may throw an exception, then he/she should catch it and do appropriate actions based on the application logic.

[2017-11-28 16:24] ColinSullivan1 commented on #139
I agree with @kozlovic.  While ignoring exceptions and dropping messages can cause some confusion during development, how to handle those exceptions is entirely application dependent.

[2017-11-29 20:28] RedShift1 commented on #139
Perhapss rethrow it as a checked exception then?

[2017-12-05 14:16] lysakaleksey opened #140 "publish does not produce exception in case no server connection"
The publish method does not produce exception in case no server connection.

Code snippet to reproduce:

[code]

[2017-12-05 14:22] lysakaleksey commented on #140
Tried on io.nats:jnats:1.0 & 1.1-SNAPSHOT versions

[2017-12-05 16:23] kozlovic commented on #140
This is because by default the client library will try to reconnect. While doing so, all published messages and creation of subscriptions are buffered and flushed on successful reconnect. The buffer is limited (but configurable). If the buffer is full, then you would get an error reporting this.
If you want the publish call to fail in above test, you would need to disallow reconnect.
[code]

[2017-12-05 16:23] #140 closed

[2017-12-05 16:25] kozlovic commented on #139
Not sure what you are asking here. The issue you reported is that your message handler is not handling an exception that some code you invoke may throw. As we explained, the current code in master will ignore all exceptions thrown by the user so that dispatching of other messages continues. If you want to catch exception thrown by your code you should catch it.

[2017-12-05 16:25] #139 closed

[2017-12-06 14:24] lysakaleksey commented on #140
Got it. Thanks

[2017-12-10 13:16] MarcGuiot opened #141 "subject in message is sometime truncated"
Hi,
On Mac OS (10.13) with the version 1.0 and 1.1-Snapshot of java-nats and using the latest docker nats image, the subject of the message is sometimes truncated (at very low frequency). That is, the subject only partially match the subject the subscription was done one. Still, the message is received correctly.

Attached, you will find a java main that show the problem (after some time).

I fail

[2017-12-11 14:30] tylertreat commented on #141
Thanks, I will take a look at this.

[2017-12-12 16:18] tylertreat commented on #141
@MarcGuiot How long do you normally have to run the program before hitting an error? I have not been able to reproduce on MacOS 10.13 with jnats 1.0 and Java 1.9 after running for several minutes.

[2017-12-12 16:23] MarcGuiot commented on #141
Hi, less then a minute:
start 2017-12-12T17:21:11.598
Parser.processMsgArgs missing 14
Parser.processMsgArgs 14
Message.setSubject 14
BUG: Receive : b-666bfabbd9e1 expected : content.path.0a79c8b8-efce-4664-b47b-666bfabbd9e1
Reader.startRead 2017-12-12T17:21:40.857

JDK 1.8.0_144

[2017-12-12 17:29] tylertreat commented on #141
I'm unable to reproduce with JDK 1.8.0_131, JDK 1.8.0_152, and JDK 9.0.1. It's entirely possible there is a race that simply isn't exposed on my machine though. @kozlovic can you try running this test?

[2017-12-12 17:36] kozlovic commented on #141
Will try...

[2017-12-12 21:30] kozlovic commented on #141
I am able to reproduce, sometimes, if I run the server from the docker image. May help with the timing...

[2017-12-12 21:35] tylertreat commented on #141
I will try running with Docker. I was running it natively but missed that @MarcGuiot was running the Docker image.

[2017-12-13 15:23] tylertreat commented on #141
I've successfully reproduced using the Docker image. Hopefully can debug now...

[2017-12-14 20:31] #141 closed

[2017-12-15 09:02] MarcGuiot commented on #141
Thank you for the fix.

[2017-12-21 11:16] santo74 opened #143 "async request/response not possible?"
I'm currently using an async, non-blocking java toolkit for my application so it is very important that my requests don't block. With the current implementation of java-nats I see no possibility to make async/non-blocking request/response calls. Is that correct or am I overlooking something?

In comparison to the node-nats library it seems there are several features missing in this java version.
N

[2017-12-21 17:19] kozlovic commented on #143
@santo74 You can do non blocking request/reply. You simply need to set up your subscription first, then use one of the publish() method that takes either a message or a reply subject.
As for requestOne(), this is the behavior of the default request() call. For max messages, if you setup your own subscription first, you can use auto-unsubscribe API to set to the value you want before sending the re

[2017-12-21 18:27] santo74 commented on #143
Ok, I see now.
Still it would be nice that the different clients mirror the same features (methods), at least all the official ones.

Thanks!

[2017-12-21 20:18] kozlovic commented on #143
Thanks for the feedback! Keep in mind that Node.js is asynchronous by nature. The requestOne() was actually recently added to provide the request() semantic of the other languages. That is, in Java, Go, etc.. request() accepts a timeout and deals with a single reply.
Even in NATS Node client, you would need to deal with timeout yourself if using the generic request() method.

[2017-12-21 20:18] #143 closed

[2017-12-21 20:25] santo74 commented on #143
Ok, that makes sense indeed.
I'll implement my own requestOne() method for now.

Thanks again.

[2018-01-03 08:10] fadeAce opened #144 "[jnats] cross platform question"
1.  in using NATS, I wrote two client based on java-nats & node-nats (and maybe future a golang client),it's okay when using pub/sub model to do communication , but when using request and response(RPC), can it support well at those two different platform client ?
2.  is there a support of official NATS QUEUE model?I didn't find it.

[2018-01-04 20:04] ColinSullivan1 commented on #144
@fadeAce , Thank you for your interest in NATS!  Yes, all officially supported platforms support request/reply, and communicate with each other as they all communicate over the NATS protocol.

Queues aren't supported today.  However, [durable subscriptions](https://github.com/nats-io/go-nats-streaming#durable-subscriptions) in [NATS streaming](https://nats.io/documentation/streaming/nats-streaming

[2018-01-05 03:11] fadeAce commented on #144
@ColinSullivan1 ,thanks for your reply. In functional pub sub model, I can't do a point to point communication, then i have to implement it in RPC model .So there's a blocked thing to me , that is the request/response given in  Nats client api still a pub sub model but in using a unique subject modified by some kind of mechanisms. So ,will the request/response have the same latency as pub sub? If

[2018-01-05 17:08] ColinSullivan1 commented on #144
@fadeAce , You are correct - NATS supports the request/reply pattern (see the `Connection.request` API), by using publish/subscribe with unique subjects.  NATS request/reply will have the same latency characteristics as publish/subscribe.

Given NATS performance characteristics, I'd suggest you test out latency with NATS request/reply in your environment and see if latency is sufficient.  In cases

[2018-01-11 10:56] fadeAce commented on #144
@ColinSullivan1 ,thanks for these details ,but , when testing unit test at gnatsd, sth went wrong:
$ go test ./test/cluster_test.go
# command-line-arguments
test/cluster_test.go:66: undefined: RunServerWithConfig
test/cluster_test.go:67: undefined: RunServerWithConfig
test/cluster_test.go:100: undefined: createClientConn
test/cluster_test.go:103: undefined: createClientConn
test/cluster_test.go:10

[2018-01-11 20:41] ColinSullivan1 commented on #144
@fadeAce , you'll want to run the go unit tests from the test directory.

[code]

[2018-01-12 10:29] RedShift1 opened #145 "NATS hangs after "i/o exception when flushing output stream""
While running for an extended time, the library seems to hang when trying to publish new messages after this exception occurs:

[code]

This is the code that sends messages:

[code]
The only way I can tell that the library is hanging, is because `this._outQueue.add(envelope)` keeps throwing exceptions that the outbound queue is full. No other stacktraces are emitted. I've been having this problem

[2018-01-12 10:33] RedShift1 commented on #145
Note that `netstat` shows an active connection to the NATS server in `ESTABLISHED` state.

[2018-01-12 16:37] kozlovic commented on #145
@RedShift1 The thread creates a connection and then publishes. Two things could go wrong: the connection is permanently lost, and all subsequent publish call will fail, or the connection reconnects, but the time of disconnect and/or the amount of publish messages while disconnected causes the reconnect buffer to be full and publish to throw an exception.

In any case, you are not catching the chec

[2018-01-15 20:04] #144 closed

[2018-01-16 09:32] RedShift1 commented on #145
My thread does not exit. The class running the thread extends from Guava's [AbstractExecutionThreadService](https://github.com/google/guava/wiki/ServiceExplained) and the service manager has a listener that watches for threads dying. I have tested this functionality and it definitely works, so I'm still suspecting the thread is hanging on nats.publish(). I've been trying to create a reproducible t

[2018-01-19 08:26] fadeAce commented on #144
@ColinSullivan1  when reading source code , I find two readloop are the same .

from route.go: s.start() -> if opts.Cluster.Port != 0  -> {<-clientListenReady} -> go s.routeAcceptLoop(ch) -> s.createRoute(conn, nil) ->
	// Spin up the read loop.
	s.startGoRoutine(func() { c.readLoop() })
from server.go: s.start() -> Acceptloop() -> for s.isRunning() -> s.createClient(conn) ->
	// Spin up the read

[2018-01-25 20:31] kozlovic commented on #145
Sorry about the delay. Try to capture thread dumps when this problem occurs again and we can have a look. Thanks!

[2018-01-26 09:52] skoskav opened #146 "NullPointerException in io.nats.client.Message#toString"
NPE occurs in both 1.0 and master:
[code]

[code]

I came across it when writing JUnit tests for an `org.apache.camel.Processor` implementation. Apache Camel's mock library is unable to assert on the `Message` being tested, which just has its `data` field set:
[code]

[2018-01-26 17:39] kozlovic commented on #146
Fixed in #147

[2018-01-26 17:39] #146 closed

[2018-01-30 06:11] fadeAce commented on #144
@ColinSullivan1 , after a period of deep learn into gnatsd & it's api I find that it seems with no approach to limit a subscriber,  whatever I want in sub is no restricted or that is to say only password at auth connection not at sublist, what if I want to limit a sub behavior to not all subject ,how to ? Thanks Collin.

[2018-01-30 16:36] ColinSullivan1 commented on #144
@fadeAce , I'm not sure I understand exactly what you are asking for, but it sounds like publish/subscribe permissions may help.  If you look [here](https://github.com/nats-io/gnatsd#authorization), you can find how to configure authorization to prevent publishing and subscribing to specific subjects for a particular user.  Does this help?

[2018-01-31 03:49] fadeAce commented on #144
@ColinSullivan1 ,yes ,the scene is almost like this , but the difference is that I don't know what subject is gonna be pub and sub as a server , but client user decide it . And a client determines what subject could do sub, maybe using password when doing publish as a param and subscriber do sub to match the pwd at beginning , not a prior configure loaded in server.

[2018-02-02 02:22] fadeAce commented on #144
@ColinSullivan1 and there is a issue seen from readMe.md that request() may failed in Linux, and I used request in windows added JVM option as the issue has recommed, but it seems no work.
And in my mac the test is passed
here is the code :
    @Test
    public void reqAndRep() throws Exception{
        Connection nc = Bus.connect();
        nc.subscribe("help", message -> {
            try {

[2018-02-15 12:06] edam opened #150 "When reconnecting, ignorred IO errors can lead to silently broken connection"
IOExceptions thrown as a result of writing to the OutputStream during a reconnect, whilst trying to write subscription (and pending) commands are currently silently ignored. This could lead to the scenario where the library believes it has successfully recovered a connection, but where some subscriptions have not been re-established.

This scenario may also be especially likely, given that the rec

[2018-02-15 12:06] edam commented on #150
https://github.com/nats-io/java-nats/pull/149

[2018-03-07 16:29] santo74 opened #151 "Lots of threads in waiting state"
In response to [this](https://github.com/nats-io/java-nats/issues/143) issue I implemented my own RequestOne() method.
Code can be found below.
However, over time (hours or days, depending on the load/activity on the server) I see an increasing number of threads on the system (thousands) finally resulting in OutOfMemory errors (Unable to create new native thread).

The threaddump contains thousand

[2018-03-08 06:47] huangyigui opened #152 "is v0.5.3 or v1.0 is the latest release version?"
I am confused which is the latest release version.

v1.0?

or v0.5.3?

[2018-03-09 21:10] ray-verys opened #153 "How to get queue size?"
My understanding is that the java-nats library queues up messages that the server sends and dispatches them to the provided callback consumers as fast as it can. But, there is still a queue that messages can store up in.

How can I get the size of this queue? I need to know how far behind my client is for scaling needs.

Something like:
`int queueSize = nc.getPendingQueueSize();`

[2018-03-09 21:12] kozlovic commented on #153
This is available from the subscription object itself. For instance `sub.getPendingMsgs()`. There is also pending bytes, the max that were pending, etc..

[2018-03-09 21:12] #153 closed

[2018-03-09 22:37] ray-verys commented on #153
Confirmed this works, thanks for getting back and closing this so quickly @kozlovic

[2018-03-10 02:25] kozlovic commented on #151
By default each subscription has a thread to dispatch its message. We added an option to have a pool of threads responsible for messages dispatching. However, you may not need that if you know that the number of active subscriptions should be bounded.
Depending on which version you are using there may have been a defect that would not notify the subscription thread to exit when the subscription is

[2018-03-10 22:35] santo74 commented on #151
Ok, thanks for the pointers.
Is it [this](https://github.com/nats-io/java-nats/issues/111) issue you're referring to regarding subscription threads not being closed correctly?
This issue was fixed almost a year ago, so I expected it to be in the most recent stable version already.

But looking at the date of the current stable release, which is 1.0 as far as I can tell,  I noticed it's already ove

[2018-03-14 14:01] santo74 commented on #151
@kozlovic I finally managed to reproduce the issue in my dev environment with the latest stable jnats release v1.0.
It only seems to happen when there are many concurrent requests (which is obviously not the case in a dev environment).
Anyway, after I was able to reproduce the issue I updated the jnats dependency from 1.0 to the latest master and I couldn't reproduce it anymore.
Even under heavy l

[2018-03-14 15:05] kozlovic commented on #151
Good to hear. We will discuss internally as to when we will issue a new release. I agree that it is long overdue. Thank you for your patience.

[2018-03-14 15:51] santo74 commented on #151
Ok, thanks for getting it discussed internally.
I hope you understand I'm not too keen on installing a snapshot version in my production environment ;-)

[2018-03-21 09:38] pappnase99 commented on #152
Push for this question. The latest release is listed as v0.5.3 but there seems to be a 1.0 tag.

[2018-03-21 15:27] ColinSullivan1 commented on #152
1.0 should be the latest.  @mcqueary originally had setup the deployments, perhaps he can comment.

We realize there has not been a release in awhile, have promised one later last year and didn't deliver yet.  We are planning on getting another release put together in the near future.  The NATS team has been extremely busy, but someone will look into this.  Thank you for raising this issue.

[2018-03-27 20:53] stetra opened #156 "Subscription thread dies silently"
It seems that when a subscription thread dies due to an uncaught exception, there is no stack trace or error output. Is there a way to enable such behavior?

Example program:

    public static void main(String[] args) throws IOException, InterruptedException {
        String subject = "testsubject";

        Connection nc = Nats.connect();
        nc.subscribe(subject, new MessageHandler() {

[2018-03-27 23:39] kozlovic commented on #156
Code in master should catch and ignore any exception thrown from the message callback. Also check https://github.com/nats-io/java-nats/issues/139 for some background info.

[2018-03-27 23:39] #156 closed

[2018-03-29 20:18] rFronteddu opened #157 "Multiple messages received when two connection are subscribed"
So I was doing some tests and I noticed that when I subscribe to a subject with two connection on a NATS that resides in the same machine I get duplicated messages. Is this an expected behavior?

[2018-03-29 20:28] rFronteddu commented on #157
I receive 4 messages back not just the two I would expect.
I also did a bunch of tests to try and rule out that was my fault (still it may still be possible). I disabled each connection respectively and verified that I received only one message, then I connected to two different nats and again I received only two messages. Whenever I made them point to the same NATS server I receive 4 messages bac

[2018-03-29 20:33] kozlovic commented on #157
Could you provide a test case please?

[2018-03-29 20:50] rFronteddu commented on #157
Yes, I will try and do that tomorrow.

[2018-03-29 21:22] rFronteddu commented on #157
I did some more tests and I think it's my fault. Sorry to have wasted your time.

[2018-03-29 21:22] #157 closed

[2018-03-29 21:58] rFronteddu commented on #157
I still don't understand why it's happening, I will write something when I do.
Have a good one.

[2018-03-29 22:20] rFronteddu commented on #157
Ah now I understand it is normal that I receive 4 message because I publish into two connections so I will see one message per subscriber times 2. Now I get it.

[2018-04-04 08:26] sergeyzenchenko commented on #151
Hey guys, any news on this issue? We are having crashes in production because of it :/

[2018-04-04 08:41] santo74 commented on #151
Hi @sergeyzenchenko and @kozlovic
Yes, an official release would be really appreciated.
Because of the continuous crashes in production I had no choice but start using the snapshot version in production.
I really don't like the idea of running a snapshot in production, but at least I didn't have any crashes anymore.

So please make an official release.

[2018-04-12 12:40] Imaskar opened #158 "Establishing connection vs reconnecting."
If you have established NATS connection and some errors occured, you will reconnect in short time. But if error occures when you establishing a connection, it will fail and not try again. But first action doesn't differ much from any later action. So why not treat it as reconnectable?

What current behavior leads to is code redundancy. User needs to check if jnats connected successfully and if not

[2018-04-24 02:52] ColinSullivan1 opened #159 "Release java 1.1"
- [ ] Fix/update broken parts of the deployment process
- [ ] Update sonatype credentials for Synadia users
- [ ] Regenerate certificates
- [ ] Update Travis secrets

NOTE:  I will be extremely busy until after KubeCon/CloudNativeCon but can revisit this in mid-May.

[2018-05-07 21:42] ray-verys opened #160 "How to get client's internal queue size?"
Very similar to my last issue, that question was how to get the size of the queued incoming messages. This is how to get the size of the queue that stores outgoing messages. I believe this queue only grows when all the nats instances the client is connected to go down and cannot be reached.

Here's what I'm doing:

- start a nats server locally
- connect to it using the client
- shutdown the local

[2018-05-07 21:51] kozlovic commented on #160
While the client gets disconnected, all published messages and new subscriptions protocols go into a reconnect buffer. Once the library reconnects, this buffer is flushed.
See https://github.com/nats-io/java-nats/blob/master/src/main/java/io/nats/client/ConnectionFactory.java#L691

You can't know how many messages are queued. But you could reduce the size to a very low value, then any publish call

[2018-05-07 21:57] ray-verys commented on #160
Appreciate the quick response! We'll have to look into solutions with this information. Thanks again!

[2018-05-07 21:58] kozlovic commented on #160
Anytime!

[2018-05-07 21:58] #160 closed

[2018-05-22 15:45] igoberman commented on #159
Hi, when do you plan to release the API? we really want to get a fix for https://github.com/nats-io/java-nats/issues/113

[2018-05-29 08:52] xy02 opened #161 "An Exception on Android"
I got an Exception on Android 4.0.3

E/AndroidRuntime: FATAL EXCEPTION: Thread-154
    java.lang.IllegalAccessError: tried to access method java.util.concurrent.ScheduledThreadPoolExecutor.setRemoveOnCancelPolicy:()Ljava/util/concurrent/ScheduledExecutorService; from class io.nats.client.ConnectionImpl
        at io.nats.client.ConnectionImpl.createScheduler(ConnectionImpl.java:235)
        at io.

[2018-06-15 16:09] Brianchat opened #162 "Build Error on Ubuntu"
[ERROR] Command was /bin/sh -c cd /home/brian/Code/java-nats && /usr/lib/jvm/java-10-oracle/bin/java -javaagent:/root/.m2/repository/org/jacoco/org.jacoco.agent/0.7.8/org.jacoco.agent-0.7.8-runtime.jar=destfile=/home/brian/Code/java-nats/target/coverage-reports/jacoco-ut.exec -jar /home/brian/Code/java-nats/target/surefire/surefirebooter14092280226774052527.jar /home/brian/Code/java-nats/target/su

[2018-06-18 01:17] xy02 commented on #161
I implement a NTAS client instead.

[2018-06-18 01:17] #161 closed

[2018-06-21 14:58] igoberman commented on #159
Is this project still maintained? There has been no official release for over a year now.

[2018-06-21 15:44] sasbury commented on #159
I have started on a major update of the Java client, which will fix #113 as well as other issues. I just joined the team, but this is my top priority and I am working furiously towards it. Hopefully more news in the next couple weeks.

If you have other issues, please get them in asap. And if you have a chance, please complete our brief survey (< 2 mins) and tell us about your experience with NATS

[2018-06-21 15:51] igoberman commented on #159
Thanks! I am looking forward to this release. Would be nice to have SNAPSHOT releases published to maven. I had to build 1.1-SNAPSHOT on my machine.

Also, tests in NUIDTest did not pass with the error below. I had to comment these out to make a successful build.
io.nats.client.NUIDTest
testProperPrefix(io.nats.client.NUIDTest)  Time elapsed: 5.015 sec  <<< ERROR!
org.junit.runners.model.TestTimed

[2018-07-03 23:01] sasbury commented on #116
We are working on a new version of the client that will resolve this issue, I am leaving the issue open for now, but if you are interested in this feature please try the new library in the version2 branch.

[2018-07-03 23:02] sasbury commented on #126
We are working on a new version of the client that should resolve this issue, I am leaving the issue open for now, but if you are interested in this feature please try the new library in the version2 branch. Feedback is appreciated.

[2018-07-03 23:03] sasbury commented on #138
We are working on a new version of the client that should resolve this issue, I am leaving the issue open for now, but if you are interested in this feature please try the new library in the version2 branch. Feedback is appreciated.

[2018-07-03 23:05] sasbury commented on #150
We are working on a new version of the client that should resolve this issue, I am leaving the issue open for now, but if you are interested in this feature please try the new library in the version2 branch. Feedback is appreciated.

[2018-07-03 23:05] sasbury commented on #151
We are working on a new version of the client that should resolve this issue, I am leaving the issue open for now, but if you are interested in this feature please try the new library in the version2 branch. Feedback is appreciated.

The new version will allow application code to group subscriptions into dispatchers to control thread usage.

[2018-07-03 23:06] sasbury commented on #152
We are working on a new version of the client that should resolve this issue, I am leaving the issue open for now, but if you are interested in this feature please try the new library in the version2 branch. Feedback is appreciated.

[2018-07-03 23:07] sasbury commented on #159
The new version is available in the branch version2. It does have some breaking API changes to help us simplify and resolve some API choices.  I am leaving the issue open for now, but if you are interested  please try the new library in the version2 branch. Feedback is appreciated.

[2018-07-03 23:08] sasbury commented on #162
We are working on a new version of the client that I hope resolves this issue, I am leaving the issue open for now, but if you are interested in this feature please try the new library in the version2 branch. Feedback is appreciated.

[2018-07-05 13:47] avlasor commented on #138
Hi!I am on holidays. As soon as I start to work I'll try it. Thank you very much

[2018-07-10 16:08] materia2021 opened #164 "Event callbacks : get connected url returns null"
ConnectionFactory cf = new ConnectionFactory();
		cf.setServers(natsServers);
		Connection nc = cf.createConnection();

		nc.setDisconnectedCallback(event -> {
			log.info("Got disconnected from NATS " + event.getConnection().getConnectedUrl());
		});

		// See who we are connected to on reconnect.
		nc.setReconnectedCallback(event -> {
			log.info("Got reconnected to NATS " + event.getConnection(

[2018-07-10 16:35] sasbury commented on #164
We are testing a major re-write of the library under the version2 branch. The callback API is a bit different, but this URL is still available so I will make sure the tests check its existence.

I will leave this issue open until we release version2, but feel free to check out the new release and let us know of problems.

[2018-07-10 19:12] materia2021 commented on #164
thanks! will surely check the new version

[2018-07-17 17:29] sasbury commented on #164
Fixed in 2.0.0

[2018-07-17 17:29] #164 closed

[2018-07-17 17:30] sasbury commented on #162
Please try again on 2.0.0, I am marking closed for now.

[2018-07-17 17:30] #162 closed

[2018-07-17 17:30] sasbury commented on #159
2.0.0 is released.

[2018-07-17 17:30] #159 closed

[2018-07-17 17:31] sasbury commented on #158
This feature is available in 2.0.0 using an async connection API.

[2018-07-17 17:31] #158 closed

[2018-07-17 17:32] sasbury commented on #152
version 2.0.0 is released.

[2018-07-17 17:32] #152 closed

[2018-07-17 17:33] sasbury commented on #151
2.0.0 provides a mechanism called dispatchers that allows the application to control thread creation. The client will create ~3 threads + timers for its business (read, write, request/reply handling). The rest is up to the application.

[2018-07-17 17:33] #151 closed

[2018-07-17 17:34] sasbury commented on #138
Released 2.0.0, you can now use -1 to get this behavior.

[2018-07-17 17:34] #138 closed

[2018-07-17 17:36] sasbury commented on #30
Can you try 2.0 and see if you can reproduce. The only place the new library parses numbers is for ids and lengths in the protocol strings. if these are invalid then there was a data problem coming on the socket. However, it is possible that the issue had to do with buffering, so it may be fixed in the new code.

[2018-07-17 17:37] sasbury commented on #129
Version 2 supports lamdas when using dispatchers:

Dispatcher d = nc.createDispatcher((msg) -> {
        String response = new String(msg.getData(), StandardCharsets.UTF_8);
        ...
    });

    d.subscribe("subject");

There are a few more examples in the examples folder that use this pattern as well.

[2018-07-17 17:37] #129 closed

[2018-07-17 17:38] sasbury commented on #116
Version 2 is released and has this callback in the ConnectionListener as the DISCOVERED_SERVERS event.

[2018-07-17 17:38] #116 closed

[2018-07-17 17:40] sasbury commented on #119
Version 2 updated to new examples, all the code is taken from code examples and should compile. What I really want is to have auto-clipping with links, but no time for that yet ;-)

Let us know if you find any more problems!

[2018-07-17 17:40] #119 closed

[2018-07-17 17:41] sasbury commented on #126
Fixed in version 2.

[2018-07-17 17:41] #126 closed

[2018-07-17 17:42] sasbury commented on #130
I will take a look at this for 2.0.1.

[2018-07-17 17:42] sasbury commented on #145
Also, i would be interested if you have the same issue in 2.0

[2018-07-17 17:43] sasbury commented on #150
I spent a lot of time on trying to make sure closed is closed, and reconnect is reconnect. Please take a look at 2.0 and reopen this if you are still seeing an issue.

[2018-07-17 17:43] #150 closed

[2018-07-17 17:44] sasbury commented on #25
ConnectionFactory was removed, but the Options properties are all javadoc'd in version 2.0

[2018-07-17 17:44] #25 closed

[2018-07-17 17:45] sasbury commented on #121
Obsolete for 2.0, all examples are now from the examples folder.

[2018-07-17 17:45] #121 closed

[2018-07-17 17:45] mpilone commented on #130
I should add that I did briefly look into implementing a fix for this but I ran into an issue where it would require a fundamental rewrite of the client. I don't completely remember the details because it was a while ago but I seem to remember that the current implementation relies on input streams or socket blocking while waiting for client input that would break if a socket timeout was implement

[2018-07-17 18:01] sasbury commented on #130
The new client is still blocking, I did a non-blocking version with TLS but it was much more complex and wasn't giving better performance (probably because we just have one incoming connection.) I will take a look though to see if we can set a timeout and recover from it reasonably. The new library does have a fair bit of recovery built in, so maybe we aren't too far away.

[2018-07-18 10:49] deripas opened #165 "Support asynchronous model [enhancement]"
**Give preference to CompletableFuture  than to simple Future.**

For  example:
[code]
It's blocking, not useful example.

But Future implemented CompletableFuture and I can do:
[code]
In my opinion this option is more useful, with the exception of magic cast `(CompletableFuture) replyFuture`
Сan expand API?

[2018-07-19 09:34] oscerd opened #166 "JNats 2.x is no longer a bundle"
In version 0.5 the maven-bundle-plugin support was introduced to make jnats OSGI friendly, is there a specific reason for the removal of it in 2.x?

[2018-07-19 16:15] sasbury commented on #166
Oversight during the switch to Gradle I will look into it.

[2018-07-19 16:44] sasbury commented on #166
Should be fixed in 2.0.1, if you get a chance to try that branch, or use the SNAPSHOT jar they should be updated in a few minutes.

[2018-07-19 16:53] oscerd commented on #166
Thanks for your fast response. I'll test tomorrow. When do you plan 2.0.1 release?

[2018-07-19 17:25] sasbury commented on #166
It should be in the snapshot now, but as to the actual release, I am thinking end of the month.

[2018-07-20 06:40] oscerd commented on #166
Looks good, thanks! I'll wait for the new release.

[2018-07-26 21:01] #165 closed

[2018-07-26 21:01] #166 closed

[2018-07-27 06:44] sasbury commented on #127
We are updating the documentation on the main site. The JavaDoc for the client library also has new doc. I will leave this open until we release the new website.

[2018-07-30 06:12] RedShift1 commented on #145
Will check this out.

[2018-07-31 11:00] yatskevich opened #168 "Username and password are not set when multiple servers are passed to Options.Builder"
Consider the following scenario:
[code]
In this case `user` and `pass` won't be set on `Options.Builder` which will silently lead to a closed connection.

We've found that `Options.Builder` populates `username`, `password` and `token` only if *one  server* is being specified.

[2018-07-31 20:59] locactus opened #169 "java.lang.OutOfMemoryError: Java heap space"
I keep getting out of memory errors when subscribing to a subject. I've stripped my code down to it's simplest form and ran a dispatcher putting the message onto a list in a different thread to reduce time in the Lambda function. I've noticed that the memory increases over time to hint that there is a memory leak somewhere. I've run this from out the box memory setting all the way up to 3G and sti

[2018-07-31 21:03] sasbury commented on #169
I will take a look. I ran the benchmarks with limited memory and  other memory tests but perhaps the  request/response or dispatcher has something I missed.

Thanks for the stack trace!

[2018-07-31 21:06] locactus commented on #169
No probs! Please let me know if you need anything else.

[2018-07-31 21:27] sasbury commented on #168
I put this into the v2.0.2 branch, which I will try to release in a couple weeks, to avoid being too noisy.

Travis is running, but assuming all is well, you can build from source or grab the snapshot on maven.

The new behavior is:

* Use the URI user/pass or token if present
* Use the options settings if not

I made some tests to check. If you still see an issue, i might ask you to look at those

[2018-07-31 21:47] sasbury commented on #169
A few questions to get some context, since nothing jumped out at me:

* How many dispatchers are you running?
* What is the approximate subscription rate?
* How many connections are there?
* What is the approximate message rate?
* How long does it take to get to the OOM error?

[2018-07-31 22:09] locactus commented on #169
- How many dispatchers are you running?
**I'm running 1 dispatcher in a JVM with one connection**

- What is the approximate subscription rate?
**Not sure how do I find this out?**

- How many connections are there?
**1**

- What is the approximate message rate?
**I'm taking in real time stock ticker information**

- Howlong does it take to get to the OOM error?
**I can get it to OOM error in 30 -

[2018-07-31 22:13] sasbury commented on #169
thanks i will try to replicate

[2018-07-31 22:33] locactus commented on #169
Cool, Just ran Visual VM to see if I could get anymore info and these seem to be the heavy hitters that just keep growing.

Nats Connection Reader	2,105,311,200 B (41.7%)	5,357 B (0.5%)
Nats Connection Dispatcher	1,529,287,064 B (30.2%)	30,480 B (3%)

If you can't reproduce I think it maybe worth sharing my code and I'll get in touch with the ticker suppliers to see if I get get you a temp access

[2018-07-31 22:40] sasbury commented on #169
I am in meetings the rest of the week, so unless i get lucky this may have to wait until next week. But, maybe I get lucky.

[2018-08-01 00:04] sasbury commented on #169
I created a test that I think matches your code (or approximates it.) can you take a look and let me know when you get a chance -

https://gist.github.com/sasbury/b5c66cafb0d702974a4de688e929c37b

I ran the pub & sub for 1B+ messages and didn't have any issues. They both settled in to about 740mb and were very stable. I ran on 1 machine, if that matters.

The one "trick" i did is to make the publi

[2018-08-01 07:32] yatskevich commented on #168
@sasbury thanks for a prompt response and fix! Yep, we've set auth credentials manually as a workaround. Waiting for v2.0.2 👍

[2018-08-01 09:45] locactus commented on #169
Thanks for looking into this so quickly.
I've made some amendments to your example and placed into a Spring Boot App

[https://github.com/locactus/ostec-nats-jms-bridge-oom-test.git](url)

I think your test parameters are way above the level of stocks ticks I receive, so  a good test. Out of interest what server version are you running this against? I can go back to suppliers and check their versi

[2018-08-02 22:33] sasbury commented on #169
Sorry for delay, glad you worked it out. Let me know if you encounter any new problems.

[2018-08-13 05:07] sasbury opened #170 "Add a Drain mode"
See https://github.com/nats-io/go-nats/pull/378

[2018-08-23 16:14] bobbyhubbard opened #171 "Message Ack?"
Newbie question. I'm noticing that messages are being redelivered when using the Dispatcher. Is there a way to acknowledge a message so that it is only delivered once?

[2018-08-23 18:12] bobbyhubbard commented on #171
Ah reply-to. So without a reply-to, the message publisher may be intending to not support ack for that subject and therefore intends redeliver.  That may be what is happening here.

Thanks for the quick reply!

[2018-08-23 18:13] sasbury commented on #171
yes, if the publisher expects a reply and doesn't get one it could be retrying.

[2018-08-31 21:39] igoberman opened #172 "NullPointerException when reconnecting to Nats server."
We are getting NullPointerException when connection to the server is broken and Nats API tries to reconnect. We are using the latest version of the API 2.0.2.

java.lang.NullPointerException
io.nats.client.impl.NatsConnection.tryToConnect(NatsConnection.java:298)
io.nats.client.impl.NatsConnection.reconnect(NatsConnection.java:213)
io.nats.client.impl.NatsConnection.closeSocket(NatsConnection.java

[2018-08-31 22:08] sasbury commented on #172
i am guessing there is a timing thing where the pings back up, i don't know a good way to force the error, but I am adding an if !=null check for the pong future and adding a check in the ping timer to not ping if the connection is down. Making sure this doesn't break anything and will check in. Should go out in v2.1.0 next week (bumping the version because we are adding a new API to drain connect

[2018-09-02 17:07] bobbyhubbard commented on #171
Yes sorry
________________________________
From: Stephen Asbury <notifications@github.com>
Sent: Friday, August 31, 2018 5:22:34 PM
To: nats-io/java-nats
Cc: Hubbard, Bobby; Author
Subject: Re: [nats-io/java-nats] Message Ack? (#171)

Can I close this?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/nats-io/java-nats/iss

[2018-09-04 16:31] sasbury commented on #171
No worries, thanks for the report, let me know if you have any other issues.

[2018-09-04 16:31] #171 closed

[2018-09-04 16:59] sasbury commented on #172
If you get a chance can you try out the 2.1 branch? I want to release 2.1 to get this fix and the new Drain API in the master, but I had trouble replicating your issue so wanted you to give it a shot.

[2018-09-04 17:00] sasbury commented on #30
Closing for now, please reopen if you see this again.

[2018-09-04 17:00] #30 closed

[2018-09-04 17:41] igoberman commented on #172
I will try it later today.

[2018-09-04 19:09] igoberman commented on #172
Is this correct dependency to use? Looks like it is not rebuild - I still get NPE.
			<dependency>
				<groupId>io.nats</groupId>
				<artifactId>jnats</artifactId>
				<version>2.1.0-SNAPSHOT</version>
			</dependency>

[2018-09-04 19:31] sasbury commented on #172
ok, i got the maven snapshot to update, sorry about that.

[2018-09-04 19:40] igoberman commented on #172
It did not crash. so appears to be fixed. thanks.

[2018-09-06 09:26] wanlinus opened #173 "How to integrate Nats into the Spring Boot framework"
How to integrate Nats into the Spring Boot framework and use it like RabbitMQ. In Spring Boot use RabbitMQ only use Annotation RabbitListener.But the java-nats have no some annotations like that

[2018-09-06 10:59] dstrelec commented on #173
2 years ago I have started my own project for integration of Nats and Spring Boot. Have never finish the project but basic use cases were working fine. You can check it at at https://github.com/dstrelec/nats

[2018-09-06 22:00] #170 closed

[2018-09-06 22:00] #172 closed

[2018-09-06 23:35] sasbury commented on #173
I will be honest, I don't use spring enough to comment, perhaps someone on the slack channel could help - https://natsio.slack.com/messages/C1KU01HD2 for java or https://natsio.slack.com/messages/C069GSYFP for general NATS.

[2018-09-07 06:09] wanlinus commented on #173
Thx, I use [java-nats](https://github.com/cloudfoundry-community/java-nats) in my project,but always apear an error, Maximum Control Line Exceeded.But I don't know how can i solve it.

[2018-09-07 06:13] sasbury commented on #173
Usually if you are exceeding it is because you have very long subject names. I forget the default, maybe 256 or 512. You can set on the server. The java client also lets you set it locally, which will prevent the server error and just error on the client. So if you change it on the server, change it on the client as well. Note - not all client libs support the setting.

There is some doc and an ex

[2018-09-07 08:53] wanlinus commented on #173
Thank you very much for your help. My problem has been solved

[2018-09-07 08:53] #173 closed

[2018-09-08 15:06] wanlinus opened #175 "Nats for Spring"
I have written a small project, [Nats for Spring](https://github.com/wanlinus/nats-spring)。I don't know if there are any errors. Can you help me see? Thx

[2018-09-10 16:32] sasbury commented on #175
i haven't used spring much, but nothing jumped out at me in the nats code. Let me know how the framework works!

[2018-09-10 16:32] #175 closed

[2018-09-12 09:50] Imaskar opened #176 "Version 2.1.0 reports of itself as 2.0.0"
A very minor thing, but still.
The version number is hardcoded at io.nats.client.Nats@75

[2018-09-12 09:59] Imaskar opened #177 "Can't reconnect if the server was restarted"
Situation:
Server v1.3, with authentication, client v2.1.0.
Initialization code:
[code]
Old behavior (Nats v1.0.4, Jnats v1.0.0):
Server started->client connects->client pushes messages->server restarted->client tries to reconnect->ok->client pushes messages.

New behavior:
Server started->client connects->client pushes messages->server restarted->client tries to reconnect->gets error->can't push.

[2018-09-12 15:58] sasbury commented on #176
i think all the libraries do this, but they probably use the right one :-)

I will take a look.

[2018-09-12 15:59] sasbury commented on #177
I will take a look, perhaps something with an earlier change to allow credentials on multiple URLs.

[2018-09-12 22:04] sasbury commented on #177
I tried to write a test to duplicate this, can you take a look and either run this or let me know how it differs? The only thing I can think of is hte ping interval, which shouldn't effect auth, but maybe it is somehow.

    @Test
    public void testUserPassOnReconnect() throws Exception {
        TestHandler handler = new TestHandler();
        int port = NatsTestServer.nextPort();
        Conne

[2018-09-13 11:56] Imaskar commented on #177
/* offtopic
I haven't worked with jnats sources before, and I have to note that spinning them up requires some additional steps:

- comment out signing
- comment out publishing
- export gnatsd path to magic environment variable  I found in sources (GNATSD_PATH)
*/

Now to the point: this test works both for v.1.0.4 and v1.3 servers. Both with ping interval (I also added 2*interval wait before reco

[2018-09-13 17:30] sasbury commented on #177
you can run the tests with ./gradlew test, i don't think you need to comment anything (but if you do please tell me I am wrong, i didn't intend that) The gnatsd is magic, I think I need to doc that more.

Let me know if you can reproduce, if not maybe we can close this for now. I will check in the tests though.

[2018-09-18 10:18] Imaskar commented on #177
I've finally been able to identify what's going on. **TL/DR: after reconnecting client tries to flush buffer before authenticating.**

Client pushes messages->server stopped->client can't send, so keeps a buffer->server started->[client connects->tries to flush a portion of buffer->error->disconnects->waits some timeout->]*->connects->pushes messages.

If the client pushes messages rapidly, buffer

[2018-09-18 10:44] Imaskar commented on #177
Something like this:

[code]

[2018-09-18 16:45] sasbury commented on #177
this makes sense, let me integrate the tests and think about how to get the auth through when the buffer is full. Thanks for digging on this!

[2018-09-18 17:00] sasbury commented on #177
just looking at code the connect protocol message is getting stuck behind the buffer, so I will either put in your test, or just add auth to my buffer test or both and then fix the issue.

[2018-09-18 20:14] #176 closed

[2018-09-18 20:18] Imaskar commented on #177
Thanks. Unfortunately,  my test is not deterministic. It hopes the comnsumer would subscribe before all 6k from producer's buffer will be sent. And I don't see how to postpone reconnecting of the producer.

[2018-09-18 21:47] sasbury commented on #177
i did a test with many fewer messages, but with the timing and auth to make sure that the connect went through before the messages. Created a fix, and running tests now. If it works i will get it on github for review asap.

[2018-09-19 09:28] Imaskar commented on #177
Your test like mine hopes that subscription will be reapplied before the buffer will be flushed. Before changes it was not always the case. I saw in the log at least one ping, sometimes more, so >1ms. Is it certain after the changes?

[2018-09-19 13:50] Imaskar commented on #177
I checked if I could hold publisher from reconnecting by waiting on a semaphore in event listener, but it didn't work - reconnecting happens in another thread.

[2018-09-19 17:26] sasbury commented on #177
my fix provides a fast path for all the protocol messages until the reconnect process is complete. So all the subscriptions are set up before the protocol messages start using the same queue as the regular messages. This is definitely something that would be very hard to work around, but I think the changes in v2.1.1 (branch is there if you want to look), should fix the issue because they allow th

[2018-09-19 22:38] sasbury opened #179 "Move jar versions to variable in gradle file"

[2018-09-25 19:04] rFronteddu opened #180 "Is publish thread safe?"
Hello, I was wondering if publishing using the same nats-client object in different threads is a thread safe operation.

I am doing a protocol comparison in a disrupted environment and it looks to me that the thread that publishes gets stuck on the publish (which lead me to thing that the send is a blocking operation) when bad things happen between the client and the nats server located in another

[2018-09-25 20:15] dbardbar opened #181 "DEFAULT_MAX_MESSAGES"
I assumed from the documentation that if create a dispatcher and subscribe (like the trivial example given in readme.md), then the pending limits would be set to the defaults. (DEFAULT_MAX_MESSAGES and DEFAULT_MAX_BYTES)
What I'm seeing under a debugger is that the dispatcher (NatsDispatcher) has a limit of 0, which means unlimited.
Is this intentional? Have I misread the documentation, and actual

[2018-09-25 20:45] sasbury commented on #181
That is a bug, the value should be the DEFAULT constants. I will fix.

[2018-09-25 20:49] sasbury commented on #180
publish should be thread safe, but there is a serializing of messages into a queue before they go to the socket. the publish path is all non-blocking code, if my quick double check is true.

Can you give me some more info on what exactly is happening?

One other thing, in a disrupted environment the publisher is queueing messages until reconnect, not sure if that is part of what you are seeing (or

[2018-10-11 02:55] asbapat opened #182 "Error in Connecting to server"
I tried creating a nats client on android and connecting to the default server, however I am getting an exception "Unable to connect to the server" while establishing a connection.

[2018-10-11 08:49] sasbury commented on #182
Can you connect to the same gnatsd from a desktop app or example? That exception message leads me to think the app can't find the server on the network.

Also, what versions of the library and server are you using?

[2018-10-11 08:50] sasbury commented on #180
rFronteddu did you get chance to take a look at this? Worst case maybe you can strip your app down to a simple example or test. But publish should be thread safe

[2018-10-11 13:27] asbapat commented on #182
I have not tried with a desktop application. I tried the same code snippet from "NatsDispatch.java" from the examples. Server is running as a Windows Service on one of the machines in our Lab and the url that I am using from android device to connect to the server is "nats://ip:4222"; where ip is the IP address of the machine on network.

Is there any error in my approach to connect to the server?

[2018-10-11 13:42] sasbury commented on #182
I am just wondering if the android device can't see the server or something. The other possibility is a connection timeout.

The other thing we can do to debug is set up an errorhandler using the options (https://nats.io/documentation/writing_applications/advanced/ has an example). That should tell us about any exceptions in the client or errors from the server.

[2018-10-11 17:18] asbapat commented on #182
Thank you for your support, I was able to connect to the server successfully.

[2018-10-11 17:18] #182 closed

[2018-10-15 06:12] kkocel opened #183 "[question] Embedded nats for java projects?"
In other solutions (eg mongo: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo) there are libraries that allow to run embedded version of server in order to write integration tests that check things like serialization, correct setup of subjects etc. So my question is - is there such library available for nats?
It would be a great idea to have such library - now in my tests just need to

[2018-10-15 18:32] sasbury commented on #183
The tests use this class - https://github.com/nats-io/java-nats/blob/master/src/test/java/io/nats/client/NatsTestServer.java which hopefully does what you want. It runs a gnatsd - see the env var for setting the path if necessary - and can be set to debug mode, or to take a config file or custom config settings.

There is also https://github.com/nats-io/java-nats/blob/master/src/test/java/io/nats/

[2018-10-16 14:34] asbapat opened #184 "Compatibility with lower versions of Android"
Hi,

I tried running the nats client on lower version of Android (API 21) and it threw a "java.lang.NoClassDefFoundError: Failed resolution of: Ljava/time/Duration;" for the class Options.Builder implemented in the code.

How can I implement this library for running nats client subscription of API Level < 26?

Crash Report:
`2018-10-16 11:21:48.656 14742-14759/com.example.aniketbapat.demoapp E/And

[2018-10-16 20:45] kkocel commented on #184
Hi, I think it's related with the fact that java-nats project is written in Java 8 and such is supported from version 24 of Android.

[2018-10-17 12:46] kkocel commented on #183
Yes, it's a nice wrapper but it requires gnatsd to be installed on host machine. Ideally a hypothetical `library` would download gnatsd and call NatsTestServer.java in order to start it.

[2018-10-17 15:46] asbapat commented on #184
Not even API 24. java-nats depends on "java.time.Duration" which was added to Android after API 26. so it does not work with Android version lower that API 26.

Does this mean that there in now way that I can use this library in application running on Android lower than API 26 ?

[2018-10-17 16:55] sasbury commented on #183
I will take a look, but would be open to a PR also :-)

I think if i was doing something that did the pull and everything I might change the API a bit, thoughts there?

[2018-10-17 16:59] sasbury commented on #184
When I started on the library refactor, which turned into a rewrite, one of the goals was to move the code up to the later versions of Java. Unfortunately this did hurt the Android usage. At the time our thinking was that you could either use the 1.x version of the library on Android, or we would look for feedback and possibly make a special version. (My thinking was that network connectivity vs p

[2018-10-17 18:19] kkocel commented on #184
I would say there are at least three big issues - lambdas, CompletableFuture, Duration. I think that starting `nats-android` would be an option ;)

[2018-10-17 19:49] kkocel commented on #184
As @sasbury stated - his original intention was to use latest version of java possible. IHMO keeping `Android` version on separate branch could be a mess, re-architecturing the whole project into `core` part and platform specific components would be also great time investment. I just don't know, I'm just a random github user ;) I would leave that strategic decision to project maintainers.

[2018-10-17 19:59] sasbury commented on #184
Agreed that a branch is likely too ugly. But I also hate to see the library get too far behind the latest JDK. Perhaps a new project is in order, that can support not just the right class limitations but also any mobile specific concerns.

[2018-10-17 20:08] kkocel commented on #183
Sorry, I didn't follow (maybe because I'm not native english speaker ;) ). How pulling the binaries will affect API?

[2018-10-17 20:12] sasbury commented on #183
Sorry, i was asking if there are other API changes that would be useful if I get a chance to do the binary pull code.

[2018-10-17 20:17] kkocel commented on #183
My impression is (just by brief glance at the code) that pulling binaries could be just implemented without affecting other parts (maybe only adding `pull` option to NatsTestServer).

[2018-10-22 15:04] sasbury opened #186 "Reconnect Issue Showing up in Streaming"
https://github.com/nats-io/java-nats-streaming/issues/107

[2018-10-22 15:17] #179 closed

[2018-10-25 12:04] Ketharan opened #187 "Gradle build fails on ubuntu."
Getting the following error log while building the source using
`./gradlew build`

Build file '/java-nats/build.gradle' line: 164

A problem occurred evaluating root project 'java-nats'.

org.gradle.api.GradleScriptException: A problem occurred evaluating root project 'java-nats'.
        at org.gradle.groovy.scripts.internal.DefaultScriptRunnerFactory$ScriptRunnerImpl.run(DefaultScriptRunnerFacto

[2018-10-25 16:12] sasbury commented on #187
I will try to make that optional, in the short term you can create a gradle.properties file in $HOME/.gradle that has

local_archives=true

so that we don't try to upload the archives.

I don't see that on my build, but maybe different version of gradle or something.

[2018-10-25 16:29] sasbury commented on #187
I checked in a fix on the v2.2.0 branch, if you get a chance to try it that would be awesome. I don't have a good ubuntu to test on this morning.

[2018-10-26 20:05] krraghavan commented on #183
Embedded Mongo is built on top of https://github.com/flapdoodle-oss/de.flapdoodle.embed.process which has all the necessary abstractions including multi-version support (i.e. select the version of the executable you want to run in your test).  Quite a handy framework and I've used it successfully to run integration tests with different versions of mongo.  Might be useful here too.

[2018-11-01 22:12] #187 closed

[2018-11-06 12:40] smvsmv opened #190 "How to convert certs to keystore and truststore for TLS connection"
In our environment NATS server is running on windows and uses key.pem and cert.pem for TLS 1.2. Our client is Java running on Linux. Converted key.pem and cert.pem in keystore and cacerts using OpenSSL and Keytool and when attempting to connect NATS with TLS Options , server is returning TLS handshake error: remote error: tls: unknown certificate.
What information is needed in the certs and how to

[2018-11-06 18:49] sasbury commented on #190
I am not sure about the converting part (or if there should be much to do.) But for a full example in java, we have one at https://nats.io/documentation/writing_applications/secure_connection/?lang=java

The other solution is to look at the is using the default ssl context, and a tls:// url. Some links I found helpful are:

https://docs.oracle.com/javadb/10.8.3.0/adminguide/cadminsslclient.html
ht

[2018-11-10 12:56] lucwillems opened #191 "Reconnect failure under high load"
i was testing/reviewing performance and stability of current java library. during this test i noticed that
in some cases, a disconnected consumer (disconnected by server because of slow consumer) was not able to reconnect because of following error :
[code]
- the receiver connection sees the disconnect, and starts the reconnect
- during reconnect we get TimeoutException , and after this , ALL reco

[2018-11-11 02:59] sasbury commented on #191
This may be related to another Java bug, something with pings. I will take a look next week.

[2018-11-11 02:59] sasbury commented on #191
I should say "reported bug."

[2018-11-12 10:46] ramasa opened #192 "Authorization on _INBOX.>"
We are using nats as a channel for JSON-RPC and exposed it to our client so that they can invoke our API using `Message reply = nc.request("req.foo", request)`
How do I prevent our client from subscribing to '_INBOX.>' and read other's response?

authorization {
  CLIENT = {
    publish = ["req.foo", "req.bar"]
    subscribe = "_INBOX.>"
  }

Only way I see now is to mimic NatsConnection.request m

[2018-11-13 05:45] lucwillems commented on #191
i've been looking into a second issue, not reported yet because i'm still looking into it, but the solution for this problem seems to have a positive side effect that i also seem to solve/help in this problem.

the second issue if found, is that when you have a high speed sender (> 3M msg/sec) and you restart the nast server , simulating a network disconnect , it gets sometimes a Out of Memory exc

[2018-11-13 06:05] sasbury commented on #191
The queue size for the sender on disconnect is controlled by the pending limits, which should default to 64*1024 messages. It sounds like this is not being respected, causing the overflow. I am surprised the speed is higher, i think I tried that queue and it was slower, but different machines definitely can cause different problems.

Looking at the writer I can see that when I fixed a different bu

[2018-11-13 09:46] lucwillems commented on #191
sender limit is indeed controlled by options but they didn't seem to kick in until the sender thread was blocked by the blockingQueue . there seems to be a unfairness between the fast sender thread which is basically while(true){ publish(xxx); } en the other IO threads which do the reading and reconnect. both read and reconnect threads are relative slow compared to the action the writer/sender thr

[2018-11-15 16:40] smvsmv commented on #190
Thank you. We identified the issue is with self signed certs.

[2018-11-15 18:05] sasbury commented on #190
we made a conscious decision to not print things from the library, and thus muddy logs. I would be open to a call back from the connection events if you have some thoughts?

[2018-11-18 20:29] sasbury commented on #191
ok, finally got some time to look at this, comment about the canQueue is wrong, I had a test for that and looking the code again the limit in options should be respected. But that doesn't solve this publisher over eating the CPU problem. I will dig into that.

[2018-11-18 21:02] sasbury commented on #191
For the publisher problem I am hesitant to change anything. If I change the blocking behavior in options it is opaque to a caller, but if I make another method it could create confusion. What i did do is update the doc to be very clear about the limits and the exception that is thrown when you hit it.

On to the original issue with the timeout during reconnect killing it.

[2018-11-19 08:11] sasbury commented on #186
likely related to #191

[2018-11-19 08:17] sasbury commented on #191
ok, this was icky - it looks like the issue is that the reading code wasn't reseting properly. Which is ok most of the time, but not all the time. Under heavy load there were times when the reader got stuck thinking it had read the \r but not the \n at the end of a protocol line. I fixed that, and added a test that mocks the server to force a partial read. Which discovered that the opPos variable

[2018-11-19 10:29] kkocel opened #193 "[proposal] Spring Cloud Stream integration"
I've just realised that it would be a great idea to provide integration with Spring Cloud Stream. I think that it would increase nats adoption

[2018-11-19 16:55] sasbury commented on #193
I haven't used Spring Cloud enough to know what this would involve. Is it small and should go in the core library, or a bit bigger and something that should make its own project?

[2018-11-19 19:15] kkocel commented on #193
I would say it can easily fit as module - since it would be just a simple binder. See Google pubsub - https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-pubsub-stream-binder/src/main/java/org/springframework/cloud/gcp/stream/binder/pubsub

[2018-11-20 16:52] laugimethods opened #194 "Serializable Options"
To be able to use `Options` in distributed environments (like Spark, see https://github.com/Logimethods/nats-connector-spark), the `io.nats.client.Options` Class should be declared as `Serializable`.

Best regards,
Laurent

[2018-11-20 16:56] laugimethods commented on #194
Don't know how then some fields will behave, like `SSLContext`,  `AuthHandler`,  `ErrorListener`,  `ConnectionListener`...

[2018-11-20 17:41] sasbury commented on #194
You can make the options from properties, although not everything can be in there.

As you say some of the items may not travel, the SSL context has to have access to the files. If you use the default ssl context that might work. Authhandler needs access to the NKey which i would not want to pack up for anyone.

I am thinking properties are the best bet here.

[2018-11-20 17:53] sasbury commented on #192
I am going to look at making that public, but had a thought about making it an option, not sure what the effect would be in the client, I will have to double check. What do you think about having that be settable?

[2018-11-20 17:54] sasbury commented on #191
lucwillems if you get a chance to try the v2.4.0 branch let me know if it fixes the problem. I am hoping to fix 1-2 more things and get this in master this week (despite the holiday)

[2018-11-20 18:29] laugimethods commented on #194
I'll use Properties for now, which btw is easier for me to implement since I do already propagate a `Properties` object.

However, I would like in the future to be able to serialize (with as much as possible of its properties) a native `Options` object for two reasons:
- It will allow the API of the Spark / NATS to be more similar to the one of this Java Nats library (especially since an `Options`

[2018-11-21 07:44] ramasa commented on #192
Not much familiar with client implementation but as a user below options comes to mind
1. io.nats.client.Options parameter
2. io.nats.client.Connection.request parameter
3. or generic way - by default use  _INBOX.`<username>`. as prefix , where `<username>` is the authorized user?

One more clarification, Our customer use .NET client, should I raise this issue in nats-io/csharp-nats project also?

[2018-11-21 18:55] lucwillems commented on #191
i will  give it a go on  Friday
 luc

On Tue, Nov 20, 2018 at 6:54 PM Stephen Asbury <notifications@github.com>
wrote:

--
T.M.M BVBA
Luc Willems
Schoolblok 7
2275 Lille

mobile: 0478/959140
email: luc.willems@t-m-m.be

[2018-11-21 19:39] sasbury commented on #191
Cool - i will wait until next week to release then, assuming this fix works for you. Thanks!

[2018-11-25 20:05] fajran opened #195 "Cannot reconnect to Nats cluster"
I have a Nats cluster setup. When the Nats server that is being used by the java app is terminated, the app tries to reconnect but it throws the following exception.

[code]

From what I can see, Nats publishes all addresses of Nats servers in the cluster in the following format `ip-address:port` without the scheme. Check the `connect_urls` values below.

[code]

When the Nats client tries to reco

[2018-11-25 20:32] fajran commented on #195
I made a quick fix to add `nats://` scheme here https://github.com/fajran/java-nats/commit/ab24c47138e68845967d342c87bd02c8f14203ea

[2018-11-25 20:32] sasbury commented on #195
Should get this fixed this week, I have other tasks in there anyway

On Sun, Nov 25, 2018, 12:26 PM Ivan Kozlovic <notifications@github.com
wrote:

[2018-11-25 20:34] kozlovic commented on #195
@fajran Adding "nats://" unconditionally may not be the right thing to do. Not sure about the Java library, but some library have distinct behavior if the scheme is set to "tls" when TLS is wanted.

[2018-11-25 20:36] fajran commented on #195
@kozlovic you are right. I was not considering that or even username/password.

[2018-11-25 20:37] kozlovic commented on #195
@fajran No worries. Your analysis of the issue was spot on. Thanks!

[2018-11-25 20:41] fajran commented on #195
I think my easiest option right now is to use all individual Nats server that I have in the cluster and set the `noRandomize` option to `true` so the client will try to use the configured server list first. I currently use a DNS round robin to all the instances.

looking forward for the proper fix! thanks!

[2018-11-26 05:57] lucwillems commented on #191
result of the re-testing.
* the slow consumer disconnect/reconnect seems ok. i'm using the main branch for that with 1 sender thread and 1 "slower" reciever thread.
* restart was still failing: error  symptoms
  *  receiver doesn't receive messages
  * Out of memory exception.

i focussed today on the OOM error , using the sender-oom branch on my natsstability git.
it only has 1 sender thread , an

[2018-11-27 17:29] sasbury commented on #191
I had a thought, is the publisher connection thrashing? The check that limits the size of the buffer only kicks in if the connection is reconnecting or disconnected. If the connection is thrashing maybe msgs are getting on the queue, then a disconnect happens, so the queue keeps growing? But I didn't think that was happing with the example. Maybe there is some sort of issue with the status check.

[2018-11-27 19:50] sasbury commented on #195
ok, it turns out blindly adding nats:// is not necessarily bad, because the place that was failing doesn't care about the protocol. BUT, i did a new fix that is a bit more careful and checks the URI in all the places we use it. I am re-running tests and will commit momentarily into v2.4.0 branch. Hoping to release that branch this week, but if you get a chance to try before I release it would be a

[2018-11-28 11:36] lucwillems commented on #191
ok have looked deeper in to the canQueue story and the OOM exception.
the reason that the writer queue is filling up is because of the fact that NatsConnection.status == connected, so canQueue will not be evaluated anymore AND the writer thread has finished (was not running anymore) because of IOException because of the restart/disconnect from the NATS server

12:27:34.200 [pool-1-thread-1] INFO L

[2018-11-30 20:37] sasbury opened #196 "Client version is out of date"
Client version doesn't match the gradle file.

[2018-12-06 18:50] film42 opened #197 "Dispatch based on SID"
It would be really nice if `NatsDispatcher` used the underlying `sid` to dispatch instead of a HashMap based on the subscription name. This would allow you to subscribe to the same topic multiple times. Now, this might not make that much sense from the client's point of view, but it does make sense from a "load balance" point of view.

As a sort of "hack" I have our servers subscribe to each topic

[2018-12-06 19:15] film42 commented on #197
Here's an example of how the `Connection` interface could be extended to support a user provided message queue.
[code]

[2018-12-07 06:35] KORuL commented on #184
Where can i find version for android api <24?

[2018-12-07 08:11] KORuL opened #198 "Support android api <26?"
I want to start client on api > 19, but jdk 1_8 does not allow

[2018-12-07 14:39] remotegun commented on #24
Yes, it’s working from android >= 18

[2018-12-07 16:05] KORuL commented on #24
@remotegun I try it yesterday, but get this error

[code]

[2018-12-08 01:16] remotegun commented on #24
try this version and let me know the result:
compile 'io.nats:jnats:0.7.3'

[2018-12-08 10:58] KORuL commented on #198
implementation 'io.nats:jnats:1.0' work fine with gnatsd Release v1.3.0   on android > 18

[2018-12-08 10:58] #198 closed

[2018-12-08 11:00] KORuL commented on #24
implementation 'io.nats:jnats:1.0' work fine with gnatsd Release v1.3.0 on android > 18
Thanks a lot!
I create Issue for others people #198

[2018-12-08 11:01] KORuL commented on #184
implementation 'io.nats:jnats:1.0' work fine with gnatsd Release v1.3.0 on android > 18
Thanks a lot!
I create Issue for others people #198

[2018-12-08 12:01] remotegun commented on #24
Good to hear that.

Good luck

[2018-12-11 21:43] sasbury commented on #197
I have been swamped but will try to grok this in the next week or so

On Tue, Dec 11, 2018, 1:25 PM Garrett T <notifications@github.com wrote:

[2018-12-13 14:34] oscerd opened #199 "The Jnats client bundle requires private-package from Eddsa while using in OSGi"
https://github.com/nats-io/java-nats/blob/f49af697311ddf37658641fe1fc07eadcfe4b611/build.gradle#L55

Trying to use the jnats client as feature dependency in camel-nats, I noticed that the nats-client requires private-package from eddsa, in particular from the math package

[code]
This is because the eddsa bundle declares math package as private package here
https://github.com/str4d/ed25519-java/bl

[2018-12-14 23:31] sasbury commented on #197
Would using multiple dispatchers be too heavy?

[2018-12-17 12:31] Leondev7 opened #201 "Android API 26 error"
I'm trying to write a test application in Android, currently I'm working with an API 26 device and every time I call the function Nats.connect() it throws this error.

` java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.leondev7.natstest/com.example.leondev7.natstest.MainActivity}: java.io.IOException: Unable to connect to gnatsd server.
        at android.app.Activity

[2018-12-17 17:36] sasbury commented on #199
oscerd - i think i got this ripped out (i missed the public API for what we needed). Hoping to do a release today or tomorrow. Can you take a look and double check my work. If you see a problem and I release too fast I will do another one this week.

[2018-12-17 17:38] sasbury commented on #201
what arguments are you passing in to connect?

[2018-12-17 19:02] film42 commented on #197
@sasbury I think it would. Our implementation uses 10 subscriptions per nats client. Having 10 OS threads to replicate the behavior is really heavy.

[2018-12-17 19:10] Leondev7 commented on #201
I've tried with Nats.Connect("nats://nats.demo.io:4222") and Nats.Connect("nats.demo.io:4222")

[2018-12-18 01:15] #186 closed

[2018-12-18 01:15] #191 closed

[2018-12-18 01:15] #195 closed

[2018-12-18 01:15] #192 closed

[2018-12-18 01:15] #196 closed

[2018-12-18 08:17] oscerd commented on #199
Should be fine :-) I'll test the new release and provide you feedback asap. Thanks for the fast reaction!

[2018-12-18 09:42] oscerd commented on #199
The Jnats bundle still requires math package from EDDSA

[code]

So it's still not working.

[2018-12-18 17:11] sasbury commented on #199
Where is that coming from? I don't import math anywhere, or require it as far as I can tell. Even the pom doesn't have it (https://repo1.maven.org/maven2/io/nats/jnats/2.4.0/jnats-2.4.0.pom).

I need the eddsa package to implement nkeys, but I am not sure why it is reaching inside and getting the math package. Where do you see that import-package?

[2018-12-18 17:13] oscerd commented on #199
In the manifest.mf of jnats jar. You need to tweak the maven bundle plugin config in your Pom I suppose

[2018-12-18 17:23] sasbury commented on #199
ugh, i see it now, gradle is building that, i dont' see anywhere that I include it, i will dig more.

[2018-12-18 17:56] sasbury commented on #199
ok, i may have "fixed" it. Can you try branch 2.4.1 and let me know if it works for you.

[2018-12-18 18:01] oscerd commented on #199
Sure I will update you tomorrow.

[2018-12-18 18:02] oscerd commented on #199
Thanks for your work and help

[2018-12-19 09:31] oscerd commented on #199
I can confirm it works. The camel feature works fine and install itself on an OSGi container with 2.4.0-SNAPSHOT from v2.4.1 branch

[2018-12-19 11:52] schmidh commented on #184
Sidenote: Oreo (Api26) has already a market share of 20%. In the first half of 2018 it was only 5%. Marshmallow and Nougat are getting eaten up - bit by bit. In a year's time Oreo will probably have taken the lead.

[2018-12-19 19:04] #199 closed

[2018-12-19 19:12] sasbury commented on #201
does the code work outside of android?

[2018-12-20 12:21] Leondev7 commented on #201
Yes, i've tried in my own machine and it works perfectly.

[2018-12-21 13:36] dvasko opened #203 "[Exception] Filter is only supported when the queue is paused"
Exception
[code]
is showing in really small number of sessions in our Android app

[2018-12-21 18:19] sasbury commented on #203
I will take a look, hopefully it is an obvious thing, but sounds like a thread issue so if you notice any timing/context hints please let me know.

[2018-12-22 08:13] dvasko opened #204 "[Exception] cleanUpPongQueue"
Similar as #203 in the really small number of session
[code]

disconnect code
[code]

[2019-01-08 10:55] oscerd opened #205 "2.4.1 is released in maven central but is missing on Github"
There isn't a tag/release

[2019-01-08 17:38] sasbury commented on #205
I missed 2.4 and 2.4.1 - thanks for catching this. It is there now.

[2019-01-08 17:39] #205 closed

[2019-01-16 23:10] sasbury opened #206 "Incorrect message when publish buffer overruns"
if ((this.status == Status.RECONNECTING || this.status == Status.DISCONNECTED)
                && !this.writer.canQueue(msg, options.getReconnectBufferSize())) {
            throw new IllegalStateException(
                    "Unable to queue any more messages during reconnect, max buffer is " + getMaxPayload());
        }

Prints the max payload not the max buffer size

[2019-01-21 22:53] sasbury opened #207 "NatsAutoBench gets stuck sometimes"
The pub/dispatcher test thinks it handles missing messages, but doesn't, instead it gets stuck if it misses a message for some reason.

[2019-01-31 13:22] jpsilvagallino opened #209 "setNatsUrl does not support a list of comma separated servers"
Hi all,

I'm opening this issue as recommended by @sasbury in [this equivalent issue](https://github.com/nats-io/java-nats-streaming/issues/117#issue-404960222) I opened for java-nats-streaming. Apparently passing a list of comma-separated servers' URLs is not  supported in java-nats.

I am trying to pass the addresses of all nodes in a servers cluster a list of comma-separated servers to the `Str

[2019-02-12 18:14] kedzie commented on #184
I am making an effort to make this Android compatible.  I replaced the `java.time.Duration` with an implementation based on `TimeUnit`.  Lambdas are supported on Android with dusugaring.  Only outstanding issue i see is `CompletableFuture`.  How essential is that vs a normal Future?

[2019-02-12 18:44] kedzie commented on #184
I some uses of CompletableFuture, in the tests at least, are silly and can be replaced with . a CountDownLatch.

[2019-02-12 18:47] sasbury commented on #184
android compatibility is really asking for lower JDK support and I think we should do that in a new repo, I don't think that the main library should be constrained to a version of the JDK that is more than 3 versions behind.

[2019-02-12 18:57] kedzie commented on #184
Even with a new repo the approach I would take is cloning this and replacing the CompletableFuture.  That is the only thing standing in the way.  Lambdas are fine.  https://developer.android.com/studio/write/java8-support .

[2019-02-12 22:46] kedzie commented on #184
I did the work.  You can decide about the new repo with the PR in front of you.  #211

[2019-03-01 08:04] mlipovsky opened #212 "[question] Request/Reply from many queued subscribers"
Hi,
Is there a way to implement a publisher expecting a reply from all queued subscribers?

example:
SUB_A1 = nc.subscribe("hello", "a", cb=message_handler_a)
SUB_A2 = nc.subscribe("hello", "a", cb=message_handler_a)

SUB_B1 = nc.subscribe("hello", "b", cb=message_handler_b)
SUB_B2 = nc.subscribe("hello", "b", cb=message_handler_b)

response = await nc.request("hello", b'hi', 0.2)
-> response cont

[2019-03-01 18:45] sasbury commented on #212
You can do it with a normal publish, but not with ns.request. I have a few examples, here is one where we use a hardcoded reply subject and wait for multiple responses, you should probably use a more random response subject.

https://github.com/ConnectEverything/solvingproblems_java/blob/master/src/main/java/solutions/ex18_search/Search.java

[2019-03-01 18:45] #212 closed

[2019-03-04 07:31] eisig opened #213 "simple request/reply hangs time to time"
Simple request/reply demo. the request side hangs time to time.

demo proejct: https://github.com/eisig/nats-demo1.git
## Deploy env:
 aws amazon linux2: c5d.large。(1 or 3 instances)
## steps
1. `mvn package` the project
2. start nats server: `./gnatsd-v1.4.1-linux-amd64/gnatsd &`
3. start the reply app:` java -cp nats-demo-1.0-SNAPSHOT.jar  io.eg.nats.demo.NatsReply &`
4. run `java -Djava.securit

[2019-03-04 15:37] kedzie opened #214 "Thread pools"
Threads are instantiated all over the code.  I suggest using an ExecutorService passed in through Options which will be stored in NatsConnection and used by NatsDispatcher/NatsSubscription/etc..

By default it can use a thread pool.

[2019-03-04 18:00] sasbury commented on #213
I re-ran the autobench example to make sure I am able to run R/R. I got pretty good numbers:

[2019-03-04 18:04] sasbury commented on #213
Hm, github gui got me. As I was saying, I got pretty good numbers from the autobench:

ReqReply 0b              20,000              8,367 msg/s       0.00 b/s
ReqReply 8b              20,000              8,738 msg/s     68.27 kb/s
ReqReply 32b             10,000              8,570 msg/s    267.84 kb/s
ReqReply 256b            10,000              8,718 msg/s      2.13 mb/s
ReqReply 512b

[2019-03-05 06:17] eisig commented on #213
1. I add one line  before executing  the test(before`io.nats.examples.autobench.NatsAutoBench` line 92) to show where hangs.
[code]

2. start the test
 java -Djava.security.egd=file:/dev/./urandom -cp jnats-2.4.1-SNAPSHOT-examples.jar:jnats-2.4.1-SNAPSHOT.jar   io.nats.examples.autobench.NatsAutoBench small

3. the logs
[code]
The ReqReply tests take very long time to finish.
the finnal result:
[c

[2019-03-05 06:23] eisig commented on #213
1. The nats server log(with -D)
....
[26259] 2019/03/05 06:04:41.582570 [DBG] 127.0.0.1:54356 - cid:164 - Client connection created
[26259] 2019/03/05 06:06:41.579583 [DBG] 127.0.0.1:54354 - cid:163 - Client Ping Timer
[26259] 2019/03/05 06:06:41.579623 [DBG] 127.0.0.1:54354 - cid:163 - Delaying PING due to activity 2m0s ago
[26259] 2019/03/05 06:06:41.582820 [DBG] 127.0.0.1:54356 - cid:164 - Clie

[2019-03-05 07:12] sasbury commented on #213
Those performance numbers are pretty horrible. I wonder if it is something about hte networking on that machine. What happens if you run your program locally?

As another test what happens if you put a sleep in the request program, maybe just send 100/sec or something like that.

[2019-03-05 11:18] eisig commented on #213
It work fine on my local env.
I have try to recreate  several new ec2 using  the official image, without install anything except the openjdk. It situation remain the same.
If I put a sleep(10ms) in the reply or request program, It work fine.
If I change the os image to ubuntu, It work fine.

[2019-03-05 18:34] sasbury commented on #213
Hm, I am not sure what we can do with the library. It seems like a networking/OS - maybe JDK - issue. Thoughts on resolving? My first thought is just to close the issue, but I want to make sure we capture the problem for others.

[2019-03-06 11:01] eisig commented on #213
I would close this issue now. If I have time to figure out what is wrong,I will leave a comment here.

[2019-03-06 11:01] #213 closed

[2019-03-06 17:12] sasbury commented on #213
Sounds good, thanks for digging in, i am sorry we didn't discover the root issue.

[2019-03-10 21:59] sasbury opened #216 "Add better DNS resolution if possilbe"
[Idea|Proposal]
So currently, nats uses the net package to create a TCP connection to the (NATS) server.
The current implementation basically takes the first IP from the domain name and uses it to create a TCP connection.
For users that can’t implement different loadbalancing techniques through the DNS, using the first IP from the record is kind of a bummer and kind of forces the servers to have m

[2019-03-12 03:44] yuanmwang-wf opened #217 "exceptionOccurred gets called when closing a connection intentionally"
Looks like when an error listener is passed to a connection, the error listener's `exceptionOccurred` method always gets called even when the connection is closed intentionally.

Given the following example which implements a simple error listener, opens a connection and then closes the connection, I get the following output:
[code]

[code]

[2019-03-12 04:01] sasbury commented on #217
I suspect we are over eager, i will take a look next time I am digging in to the library.

[2019-03-19 19:10] sasbury commented on #201
Can you try this with the latest release? I am curious if this is still happening, and don't have a way to replicate.

[2019-03-19 19:12] sasbury commented on #194
Closing in favor of properties, I am hesitant to provide a partially serializable object when callbacks are so important.

[2019-03-19 19:12] #194 closed

[2019-03-19 19:13] sasbury commented on #184
Closing - we are pointing to the repo now :-)

https://nats.io/download/kedzie/nats-android/

[2019-03-19 19:13] #184 closed

[2019-03-19 19:13] sasbury commented on #145
Closing 1.x issue, let me know if it crops up in 2.x.

[2019-03-19 19:13] #145 closed

[2019-03-19 19:14] sasbury commented on #127
Take a look at the new doc and feel free to let us know if we need more.

[2019-03-19 19:14] #127 closed

[2019-03-19 19:15] sasbury commented on #93
Closing for 1.x, but open to a new PR for 2.x or possibly a doc example for nats.io.

[2019-03-19 19:15] #93 closed

[2019-03-19 19:17] sasbury commented on #203
That stack trace is out of date, so closing, but let me know if you see the issue again and i will try to find it. If you do see it and can create a sample to reproduce that would rock!

[2019-03-19 19:19] #201 closed

[2019-03-19 19:21] sasbury commented on #193
Closing as out of scope for the library, but I am open to linking to an integration from the nats.io page if you or someone else creates one.

[2019-03-19 21:13] sasbury commented on #214
Fixed with 776f1349b08fa964917a3cf5d1b0de0ee0bc1fd8

[2019-03-19 21:14] sasbury commented on #207
Closing, i don't remember how to reproduce, will reopen if it happens again

[2019-03-19 21:14] #207 closed

[2019-03-19 21:14] sasbury commented on #130
Closing for now, open to a PR if you have time.

[2019-03-19 21:14] #130 closed

[2019-03-19 21:57] brianshannan-wf opened #220 "Race condition can prevent message from being read until another message is received"
I'm not sure if anyone here is very familiar with the java client, but I was doing some debugging of an intermittent issue and I think tracked it down, but I'm not sure the best way to fix it. What I think is happening is
1. thread1 - https://github.com/nats-io/java-nats/blob/master/src/main/java/io/nats/client/impl/MessageQueue.java#L136 is called, and no messages are available in the queue.
2. t

[2019-03-19 22:15] sasbury commented on #220
Just to confirm - this was a rare - super annoying - hard to find issue? I am trying to think of a way to reproduce without editing the message queue and it looks super sneaky and annoying. Hats off for finding it.

What is the NATS pub/sub/msg level of how this is happening?

[2019-03-19 22:21] brianshannan-wf commented on #220
It happens most often in our tests, as they can be fairly single threaded and request/response oriented, so this happening once fails them. There are a fairly large number of tests so the odds of at least one failing is relatively high.

The client sends a message to nats, nats sends a message to a subscriber. Then quite awhile later the subscriber sends a message back to nats, and nats sends that

[2019-03-21 09:13] dvasko commented on #203
Exception is still happening and it is a top crash in our Android app.
We can't reproduce the crash and we never experienced a crash in a dev environment.
Numbers that we see in production are let say 1000 crashes happened to ~1000 users.
It's evident that exception is happening in some edge cases probably related to threading/timing

[2019-03-21 17:11] sasbury commented on #203
Are you getting a lot of disconnects, or are you open/closing regularly? I wonder if I can reproduce with a test that does a fast open/close over and over? Any ideas would be great. I have one thought I will try today.

[2019-03-22 23:14] #217 closed

[2019-03-22 23:14] #203 closed

[2019-03-22 23:14] #204 closed

[2019-03-22 23:14] #206 closed

[2019-03-22 23:14] #209 closed

[2019-03-22 23:14] #220 closed

[2019-03-22 23:41] jpsilvagallino commented on #209
Thanks sasbury!

[2019-03-22 23:42] sasbury commented on #214
Released this fix, missed it in the commit.

[2019-03-22 23:42] #214 closed

[2019-03-28 16:49] sasbury opened #223 "Make SID Public"
Add a method in the message to make the SID accessible.

[2019-03-28 16:50] sasbury commented on #223
Probably should add this to the subscription as well

[2019-03-28 16:51] sasbury commented on #197
From slack - Maybe it makes sense to add a simple GroupSubscription abstraction? Something in-between a subscription and a dispatcher? Push the stats and network ops into a subscription group and then have the dispatcher use that under the hood but prevents duplicate subscriptions?

[2019-03-28 17:00] sasbury commented on #197
Another slack comment - ultimately the goal is 1 subject -> 1 thread -> multiple subscribers

[2019-04-02 13:47] AnatolyKap opened #224 "High latency on Windows"
When I run NATS server on Linux and io.nats.examples.autobench.NatsAutoBench on Windows I see huge latency >30 milliseconds
If I switch roles of the same machines (run NATS server on Windows and NatsAutoBench on Linux)  - then latency <0.4 millisecond

[2019-04-03 04:04] sasbury commented on #224
The asymmetry makes me think the issue isn't in the library. Do repeated runs on linux show any sort of issue?

I will try to give windows a shot next week, but if it is just windows + JVM i may not be able to do anything.

[2019-04-03 05:46] AnatolyKap commented on #224
I have repeated this experiments several times on several machines. Results are consistent:
- Windows => Linux - BAD
- Linux => Windows - GOOD
- Windows => Windows - BAD
- Linux => Linux - GOOD

In all cases having java-nats on Windows leads to high latency.

[2019-04-03 06:00] AnatolyKap commented on #224
I don't think this is a problem of  Windows as such. There are a lot of java applications which works on Windows just fine (including one we developed)

[2019-04-03 14:13] sasbury commented on #224
I will try to profile on windows and see if something jump outs.

[2019-04-04 17:43] igoberman opened #226 "Short ping interval of 1s occasionally causes disconnect errors that are generated repeatedly."
Hello, we encountered a problem with jnats 2.4.2: if ping set to 1s, once in a while we start getting error "Exception Max outgoing Ping count exceeded"/ " Exception Socket closed". Once this happens, we start getting connection event DISCONNECTED repeatedly and our log is bombarded with messages below. Also, looks like connection actually stays up.
It is difficult to duplicate, but it looks like

[2019-04-04 22:07] sasbury commented on #226
I will take a look tomorrow, we removed one extra error and I wonder if
that was saving us somehow

On Thu, Apr 4, 2019, 10:43 AM igoberman <notifications@github.com> wrote:

[2019-04-05 17:45] sasbury commented on #226
ok, trying to look today - i think the issue may have shown up in other places as well. I just merged a PR into the 2.4.3 branch that i have a feeling may fix your issue. If you get a chance to try the branch I would be curious if it fixes things. Otherwise I will try to reproduce and test on my side.

[2019-04-05 18:21] sasbury commented on #226
i have a unit tests with 5ms pings that isn't having the problem, so I added a version that disconnects and reconnects, and it still seems to be ok. Can you give me some more context so I can try to reproduce, or if you see that branch 2.4.3 fixes it, then I guess we are good to go?

[2019-04-05 21:54] sasbury commented on #224
worked with a co-worker that has bootcamp on a mac, we can see that the latency and req-rep tests have much worse numbers than pub or pub/sub. I will try to look into it, although if you have a profiler it would be interesting to hear what numbers you see. The big question is are the benchmarks not working right or is it the underlying library. At least part of the library is fine if pub/sub is ok

[2019-04-05 21:56] AnatolyKap commented on #224
I saw a problem in my app at first and that's why I looked at benchmark

[2019-04-05 21:58] sasbury commented on #224
only latency, or do you see throughput issues on your app?

[2019-04-05 21:59] AnatolyKap commented on #224
Only latency

[2019-04-07 18:31] gdiet opened #227 "jnats 2.4.2 hangs on shutdown"
When runnung a Java NATS client like the one below with jnats 2.4.1, everything is fine. When updating to jnats 2.4.2, the shutdown takes approx. one minute after printing "finished":

import io.nats.client.Connection;
import io.nats.client.Nats;
import java.time.Duration;

[code]

My environment: I'm running things from IntelliJ IDEA with an SBT build on a Windows 10 machine with Java 11.0.2.

Is

[2019-04-08 16:26] sasbury commented on #227
I think the move to an executor may be the issue, I will take a look.

[2019-04-08 17:04] sasbury commented on #227
Definitely the executor. Fix incoming.

[2019-04-08 19:26] igoberman commented on #226
Can you put in mvn? I do not want to build it myself.

[2019-04-09 20:42] #227 closed

[2019-04-09 20:42] #223 closed

[2019-04-09 20:48] sasbury commented on #226
i released 2.4.3 today, should be on maven central by end of day. If the ping issue continues we can fix in 2.4.4

[2019-04-12 06:44] gdiet commented on #227
Works like a charm, thanks!

[2019-04-15 08:08] AnatolyKap commented on #224
Hi
How are things going?

[2019-04-15 18:57] sasbury opened #230 "Default exectutor created twice"
[code]

only need the second one.

[2019-04-16 17:07] sasbury commented on #224
haven't had a chance to set up a dev environment. If you get a chance to do any profiling and can find the hotspot I can take a look, otherwise I need to find some time to get a profiler on a windows box.

[2019-04-17 14:46] igoberman commented on #226
There is still some issue with reconnects. We have nats running on local host. Today somehow connection was reset and API generated exceptions below. Last one was CancellationException related to cleanUpPongQueue. NATS never reconnected after that.

2019-04-17T09:30:12.346 [pool-4-thread-1] ERROR c.b.o.c.nats.NatsConnectionProvider - Nats 'nats://127.0.0.1:4222' exception: {}
java.net.SocketExcept

[2019-04-23 15:44] igoberman opened #231 "API does not always reconnect after disconnect."
We have application using nats server running on local host. We use latest jnats 2.4.3. Once in a while, under heavy load, nats server closes connection. This causes 'connection reset' on the client side. However, jnats API does not reconnect. This is a severe problem causing our application to stop working.

Last exception was CancellationException related to cleanUpPongQueue. NATS never issued r

[2019-04-23 17:23] sasbury commented on #231
Can you attach your connection options, they may not matter, but can't hurt. I don't think i was able to reproduce (and as a result be sure I fixed) so if you can provide any help with a small sample/unit test it would be greatly appreciated.

I am sorry this is happening, hopefully we can find the issue quickly (well quickly moving forward clearly i didn't find it quickly yet)

[2019-04-23 17:46] igoberman commented on #231
Stephen, thanks for the quick response. I did not even try to duplicate it with unit test as it happens very seldom. But if it does, it is a big problem. The app was very busy at that time and nats server booted client out because 'write deadline' was over default of 2s. I have increased write_deadline to 10s and it did not happen since.
Do you think it is connected somehow to the exception in the

[2019-04-23 17:50] sasbury commented on #231
I wonder if I just have a simple missed catch or missed clean up for the exception during connect. I will take a look. Interesting that you say it happens on a write deadline, maybe i can reproduce it with that.

[2019-04-23 20:07] igoberman commented on #231
I was able to duplicate something similar, but not quite (see attachment below). I have both producer and consumer in in one test. Both of them are detected as 'slow consumers'. It runs for couple minutes and then just kind of pauses and sits without any output. It then throws OutOfMemoryError, that is not a good sign.

[ReconnectBug.txt](https://github.com/nats-io/java-nats/files/3109346/Reconnec

[2019-04-23 20:11] sasbury commented on #231
i will try to give it a shot this week, thanks!

[2019-04-24 09:21] zackws opened #232 "Nats Bridge"
Could you please help me to do a bridge from activemq to NATS using apache Camel ?
Thank you

[2019-04-24 17:14] sasbury commented on #232
what specifically are you asking for help with?

[2019-04-24 22:37] sasbury commented on #232
Looks like this already exists ... https://camel.apache.org/nats.html

[2019-04-24 22:37] #232 closed

[2019-04-25 07:50] zackws commented on #232
Hello, i want to build a bridge from a jms Queue (activeMq) to nats (Queue) using apache Camel. i'dont know how to code that, I ve already seen the example on github and i couldnt do much about it.
Could you please help me ?
 Thanks

[2019-04-29 16:52] AnatolyKap commented on #224
I wrote very simple test which use pure java Socket. I run it on the same Windows machines and got 0.2ms latency
So it's not OS / network / hardware problem

[2019-04-29 16:54] sasbury commented on #224
i wonder if it is the way i use locksupport on windows? I will try to take a look next week, wrapped up in something else at the moment.

[2019-04-29 16:55] sasbury commented on #231
this week is turning busy, hopefully i can dig in next week.

[2019-04-29 16:57] AnatolyKap commented on #224
As soon as you use pure java it should work on any OS (theoretically)

[2019-04-29 17:01] sasbury commented on #224
and yet, the library is pure java and we have a latency issue :-)

[2019-05-01 18:15] igoberman commented on #231
Thanks. It could be that they whole issue is that application just runs out of memory if nats cannot keep up. Looks like you use unbounded LinkedBlockingQueue for publication. The size of the queue should be managed, but it looks like it is not. What do you think about adding an option to limit the queue size/ dropping the queue on disconnect?

I found even more serious issue: after reconnect mess

[2019-05-03 19:19] sasbury commented on #224
can you shoot me your test app, i tried profiling the library and all the time is spent in the socket. There aren't a lot of settings to play with so i am curious how your test looks on my machine

[2019-05-03 20:52] sasbury commented on #224
Also, what version of java are you using, and out of curiosity is this a windows box or a vm?

[2019-05-03 21:09] ColinSullivan1 commented on #224
@AnatolyKap , Do other apps have this issue?  E.g., if you ping your linux box from windows a number of times, do you see latency spikes?  e.g. `ping -n 40 <linux box ip>`

[2019-05-05 08:36] AnatolyKap commented on #224
Hi
This is test I used
[TcpLatency.txt](https://github.com/nats-io/java-nats/files/3145295/TcpLatency.txt)

[2019-05-05 08:48] AnatolyKap commented on #224
@sasbury
I've reproduced the problem in several machines.
For example at two AWS VM boxes r3.8xlarge with Windows Server 2012R2, java version "1.8.0_101"

@ColinSullivan1
Other application works fine on the same VMs. It uses oracle database at 1-st VM and application server at another. Performance is good, latency is low
I can't run ping at this VMs because ICMP is prohibited there

[2019-05-06 17:40] sasbury commented on #224
Digging in, thanks for the TCPLatency test, i am seeing lower numbers there, so trying to figure out whats up. The socket settings don't seem to matter (if you get a chance to comment those out let me know if you see basically the same numbers). I will try to profile again and see if I can find what is going on.

[2019-05-06 20:41] sasbury commented on #224
Digging around I noticed something I wanted note here, the message queue is slower to "push" on windows:

Windows (virtual box)
Total time to perform 10,000,000 push operations was 1,302 ms, 130.28 ns/op
        or 7,675,782.913 op/s

Mac (same machine)
Total time to perform 10,000,000 push operations was 306 ms, 30.604 ns/op
	or 32,675,706.209 op/s

Non-push metrics aren't seeing the same differe

[2019-05-06 21:48] sasbury commented on #224
@AnatolyKap can you paste your numbers from the latency test in NatsAutoBench when you have some time. I am curious if they line up with mine.

[2019-05-06 23:15] sasbury commented on #224
I think i got it - the issue appears to be the spin lock on the message queue - i am now getting numbers from auto bench that match the test app. Will check in shortly in 2.4.4 branch.

[2019-05-06 23:46] sasbury commented on #224
With the fix, my numbers on windows virtual box are half of the mac os natively. Latency is comparable to the raw test, especially given the extra work on the NATS side going through the server.

[2019-05-07 06:28] AnatolyKap commented on #224
Great news!
Thanks

[2019-05-07 16:22] AnatolyKap commented on #224
I've tested the fix - work great!
Thanks again

PS. You haven't yet merged the fix to master branch?

[2019-05-07 17:17] sasbury commented on #224
I am hoping to fix 1-2 more issues and do a release at the end of the week.

[2019-05-07 17:33] sasbury commented on #231
Thanks for the replication test, i did notice you put

        // Do not cache any messages when Nats connection is down.
        natsOptions.reconnectBufferSize(-1);

-1 will cache as much as possible, use 0 to stop caching. Might have been an old comment or something. Regardless the program does blow up.

I am really weirded out by the out of order deliveries, so digging in.

[2019-05-07 23:57] sasbury commented on #226
See #231 for more comments, but I think the short ping is ultimately a config error and added some documentation. The reconnect failure is not a config error, but I think i fixed that (more on the other issue.)

[2019-05-08 00:00] sasbury commented on #231
Alright, i was mostly worried about the out of order stuff, and it turns out that was the issue. During a reconnect the library filters the outgoing queue for old ping requests. However, that wasn't happening within a lock so publish message where getting written out of order with the filtered queue. I fixed this (with a small performance price paid) and was able to run the test program (which I a

[2019-05-09 20:40] #224 closed

[2019-05-09 20:40] #226 closed

[2019-05-09 20:40] #231 closed

[2019-05-09 21:01] sasbury commented on #230
Fixed in 2.4.4

[2019-05-09 21:01] #230 closed

[2019-05-18 02:12] xzzh999 opened #238 "How the client to process incoming messages in parallel?"
Hi~

Like [**this question in go**](https://github.com/nats-io/nats.go/issues/466)

Is it still thread-safe in java?

[2019-05-18 02:17] sasbury commented on #238
Reading from a subscription using nextMessage is thread safe. Dispatchers use their own thread to call your callback. If you want to "fan out" the work, i would propose using either a dispatcher or single threaded subscriber loop and a queue that you hook workers up to.

[2019-05-22 06:09] xzzh999 commented on #238
@sasbury

Hi, thank you for your reply~

you mean like this?  (as follow comments)
[code]

[2019-05-22 06:37] sasbury commented on #238
you could create a ConcurrentLinkedQueue (for example) and do an add in the dispatcher code. Then read from that queue in another thread.

Something like this - https://stackoverflow.com/questions/2233561/producer-consumer-work-queues

The library manages some things itself but not how you process the messages.

[2019-05-22 07:34] xzzh999 commented on #238
@sasbury
That's awesome! Thank you~

[2019-05-22 07:34] #238 closed

[2019-06-04 22:49] sasbury opened #239 "Clean up handling of failure on socket data port"
if an ssl failure occurs, the code calls handle this.connection.handleCommunicationIssue(ex); but goes ahead and tries to get the in/out streams

[2019-06-04 22:50] sasbury opened #240 "Remove printstacktrace from tryToConnect"
left over from debugging probably

[2019-06-04 23:50] sasbury opened #241 "socket data port should use a different SSL create method"
Use factory.createSocket(socket, this.host, this.port, true); instead of the existing one

[2019-06-05 16:57] #239 closed

[2019-06-05 16:57] #240 closed

[2019-06-05 16:58] sasbury commented on #241
Fixed in 2.5.1

[2019-06-05 16:58] #241 closed

[2019-06-14 17:32] sasbury opened #243 "Check for spaces in subjects and queues"
Need to error if a subject or queue name has a space - but this is a breaking change to the API - not sure how to do it safely.

[2019-06-14 23:21] sasbury opened #244 "Parser for INFO doesn't handle IPv6 addresses correctly"
INFO {"server_id":"NCWY6BXJZJP4APXPYHHKMHVB6G5BELI44TRUEJDJMWDXOTHT7UBHRRGI","version":"2.0.0-RC5","proto":1,"go":"go1.11.8","host":"0.0.0.0","port":4223,"max_payload":1048576,"client_id":12,"connect_urls":["192.168.86.128:4223","[fe80::1849:828f:afdb:b00c%en1]:4224"]}

gets turned into:

Event - nats: discovered servers
	nats://localhost:4223
	192.168.86.128:4223
	[fe80::1849:828f:afdb:b00c%en1

[2019-06-17 18:57] sasbury opened #245 "NatsBench Sub-Only Shows bad timing"
Timing starts before the first "receive message" which means that the time between running sub and running pub is counted against the subscriber benchmark.

[2019-06-17 21:27] sasbury opened #246 "nats bench prints confusing statistics"
The message count in csv mode comes from the statistics object not from the test count, so for a test of 5M you get 5M + 3 for a publisher and 5M + 4 for a subscriber. This is confusing.

[2019-06-19 18:49] #244 closed

[2019-06-19 18:49] #245 closed

[2019-06-19 18:49] #246 closed

[2019-06-26 22:38] slamdev commented on #193
@kkocel if you still need this: https://github.com/slamdev/nats-spring-cloud-stream-binder

[2019-06-26 22:45] sasbury commented on #193
wish i saw this earlier, we have been working on one as well, it should be out in the next couple weeks. @slamdev and @kkocel, once we have something perhaps you an help me get it in sync with your work.

[2019-06-26 23:12] slamdev commented on #193
@sasbury I pushed it only couple hours ago :D

sure, lets stay in touch and work on this together

[2019-06-27 09:21] peng-w opened #248 "The connection took 2 minutes！"
Operating System：CentOS6.10 x64（ip:172.0.18.213）
Nats-Server：2.0.0 x64（ip:172.0.18.213、port:default ）
Java-Client jar：jnats-2.5.2.jar
Code：[java]
![image](https://user-images.githubusercontent.com/6479081/60254780-1baf4880-9901-11e9-91eb-2227b7c8f257.png)
Problem：Why the connection took 2 minutes？If i'm using Windows system（ip:172.0.18.68），pretty soon！Can you give me some help？Thank you！
![image](

[2019-06-27 17:06] sasbury commented on #248
how long does it take to send a ping between the machines?

can you try the NatsPub sample, from the examples jar and see if it has the same problem.

I wrote a similar example and was able to connect to a machine in oregan in < 2s. Can you try that machine - nats://demo.nats.io:4222 - it is open for people to try out. For a local machine I connect in < 0.2 seconds.

[2019-06-28 02:00] peng-w commented on #248
I had found problem: My code working in a virtual environment, time took 2 minutes.

The virtual environment of CentOS6.10 is KVM, I tried to create a new virtual environment(VirtualBox) to run my code, time took 2 minutes too.

printscreen:
![image](https://user-images.githubusercontent.com/6479081/60311605-907a9500-998a-11e9-8687-4338b0bcb9fe.png)
![image](https://user-images.githubusercontent.c

[2019-06-28 02:50] peng-w commented on #248
I'm running NatsPub.java on a virtual environment(virtualbox), the connection took 2 minutes.

[2019-06-28 03:12] sasbury commented on #248
i have run with virtual box and don't get anything like 2 minutes. something is definitely weird with the KVM/Native networking if the demo.nats.io connection is faster than the one to the local machine.

Can you run outside the KVM?

Also, just for curiosity. Can you do two connections, and time both, right in a row. Not sure it will matter but i am curious.

I am going to ping some other folks a

[2019-06-28 03:54] peng-w commented on #248
If i'm using Windows system（run outside the KVM），pretty soon！

[2019-06-28 04:32] derekcollison commented on #248
If you could run a simple telnet from the kvm that is running the java NATS client that would be great. NATS servers, even in TLS mode, can be telnet'd to and the server will return an INFO block on connect. You can try also `telnet demo.nats.io 4222` to test. If that is also taking 2 minutes then it is a network issue between the kvm and other IPs. If that test is quick, meaning you get the INFO

[2019-06-28 13:03] peng-w commented on #248
have a nice weekend，I will try it at work next week.

[2019-06-28 13:16] derekcollison commented on #248
ok keep us posted.

[2019-07-01 01:31] peng-w commented on #248
Hello: derekcollison, sasbury. This screen shot shows what i'm doing.

![GIF](https://user-images.githubusercontent.com/6479081/60405438-c74ae800-9be2-11e9-92ae-655c7f5ef9d8.gif)

Expect your reply.

[2019-07-01 15:42] derekcollison commented on #248
ok thank you, this will be helpful. Will take a look.

/cc @sasbury

[2019-07-01 18:10] sasbury commented on #248
My only theory is that we somehow timeout over and over in a loop and then
get lucky, but I don't think the code does that. When I get back wed I am
planning to write a small raw socket test we can try.

On Mon, Jul 1, 2019, 8:42 AM Derek Collison <notifications@github.com>
wrote:

[2019-07-02 09:03] peng-w commented on #248
local machine:

[test1: vmware15 + windows10 + jnats2.0]
![vmware-win10-jnats2](https://user-images.githubusercontent.com/6479081/60498331-f64b8180-9ce8-11e9-82f2-4dda18c2ead3.gif)

[test2: vmware15 + centos7 + jnats2.0]
![vmware-centos7-jnats](https://user-images.githubusercontent.com/6479081/60499265-b2597c00-9cea-11e9-8c56-ff6946150a61.gif)

[test3: virtualbox6 + centos6.10 + jnats2.0]
![virtua

[2019-07-02 13:02] derekcollison commented on #248
Thank you for the detailed information, really appreciate that!

Just to confirm the telnet from the remote machine under kvm to the demo server still connects immediately correct?

[2019-07-02 16:50] derekcollison commented on #248
Could you also run a different language client, like here: https://github.com/nats-io/nats.go/tree/master/examples/nats-pub to see if the connection delay still exists.

Also do you know what the firewall configuration for the kvm instance is set to?

[2019-07-02 17:18] mhp0rtal opened #249 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/org/nats/SecureSocketChannel.java: Line number => 81: API name => KeyStore:Second parameter should never be of type java.lang.String.<BR> File name => src/main/java/org/nats/SecureSocketChannel.java: Line number => 89: API name => KeyStore:Second parameter should never be of type java.lang.String.<BR>

[2019-07-02 17:49] sitepodmatt commented on #248
Third-party Anti-virus / Network firewall on your Windows host thats acting as the network bridge? I noticed your remote machine demo is the same subnet. Have you tried running it on a local linode/vultr/DO.

[2019-07-03 04:26] peng-w commented on #248
hi:derekcollison, same environment, golang run well.
   sitepodmatt, i do that.

remote machine:
[test4: kvm4.5.0 + centos6.10 + jnats2.0]
![go](https://user-images.githubusercontent.com/6479081/60563270-b1c5f180-9d8d-11e9-8b46-92ed7779944b.gif)

[2019-07-03 06:11] sasbury commented on #248
i have a couple thoughts - one related to the recent change to an executor for part of the connect, but the other more abstract.

peng-w can you try adding a connection and error handler to your test code. Something like this - where builder is the Options.Builder. I want to see what exceptions, errors and connect events you are getting.

[code]

[2019-07-03 06:52] peng-w commented on #248
I'm glad to do this, wait a moment

[2019-07-03 14:33] sasbury commented on #248
Ok, i am going to try to send you a special version of the library later today. There is definitely a bug because I don't timeout the connection, but that is minor compared to the total connect time. I am going to put a bunch of debug stuff in the connect path.

I will also try to get kvm going, but i am on a mac, so not sure I can replicate easily here.

[2019-07-03 17:04] sasbury commented on #248
Can you try this version of the library and an example (basically like yours with different options)

Run with

[code]

Use the cmd line arg for the server, i tried with demo and get:

[code]

I had to zip the two jars for github.

[jnats-test-examples.jar.zip](https://github.com/nats-io/nats.java/files/3356079/jnats-test-examples.jar.zip)
[jnats-test-fat.jar.zip](https://github.com/nats-io/nats.j

[2019-07-04 01:10] peng-w commented on #248
Hello:sasbury. This is the result of the execution.

![image](https://user-images.githubusercontent.com/6479081/60633061-91ed0700-9e3b-11e9-9eca-18b13cf894cf.png)

[2019-07-04 02:17] sasbury commented on #248
lol - in my rush to give you a jar I messed up my tracing timer, let me give you a new version, it shouldn't say 5 seconds every time.

[2019-07-04 02:25] sasbury commented on #248
Ok, can you try with this jar for the library, same example....

[jnats-test-fat.jar.zip](https://github.com/nats-io/nats.java/files/3357374/jnats-test-fat.jar.zip)

[2019-07-04 02:54] peng-w commented on #248
The lastest test

![image](https://user-images.githubusercontent.com/6479081/60636704-23637580-9e4a-11e9-8636-7a2a3501f361.png)

[2019-07-04 06:09] sasbury commented on #248
ok, this is super weird, the connect time is 120s but the time in the connect method is < 1s. I will take a look at the library and maybe add some more trace code. I have one last thought, the lock that we use on the connect status could be blocking somehow. I am off for a couple days, but will try to get you a new version of the test jar to try as soon as I can.

[2019-07-04 06:37] sasbury commented on #248
When you get a chance, can you try this jar, it prints a few more times. Same examples jar.

[jnats-test-fat.jar.zip](https://github.com/nats-io/nats.java/files/3357991/jnats-test-fat.jar.zip)

[2019-07-04 09:27] peng-w commented on #248
Glad to cooperate with you.

![image](https://user-images.githubusercontent.com/6479081/60655542-7fe18780-9e80-11e9-9ed3-6137f40525c8.png)

[2019-07-04 17:51] sasbury commented on #248
wow, it really looks like the close is what is taking a long time. Did your program time the close as well as the connect? I will add timing to the close.

[2019-07-05 00:56] peng-w commented on #248
![image](https://user-images.githubusercontent.com/6479081/60691508-bcee5e00-9f02-11e9-9347-c96621024183.png)

[2019-07-05 06:33] sitepodmatt commented on #248
All the problematic demos run on VMs with 1 core only allocated?

[2019-07-05 06:37] sasbury commented on #248
yea, my best guess is that there aren't enough cores, so the read/write threads eat up all the processor (although they really shouldn't eat CPU when there is no traffic). peng-w can you confirm if there is only 1 core and try with 2 if that is the case?

[2019-07-05 06:55] peng-w commented on #248
CPU The number of physical：1
CPU The number of core：4
CPU The number of thread：4

![image](https://user-images.githubusercontent.com/6479081/60703600-c1cc0580-9f34-11e9-8f3b-3154bc6d654f.png)

[2019-07-05 06:59] peng-w commented on #248
CPU The number of physical：4
CPU The number of core：1
CPU The number of thread：4

![image](https://user-images.githubusercontent.com/6479081/60703832-5b93b280-9f35-11e9-8358-f61818020005.png)

[2019-07-06 05:18] sasbury commented on #248
So it is using threads. I may need to try to put some more timing in the tracer, but i literally print the one message before returning to main, which prints the second message but says it took much longer. Very weird. Give me a day or two (it is a holiday and the weekend) but i will put something together.

[2019-07-06 06:11] sasbury commented on #248
I added more timing - including the initial object creation. Can you try running again with these totally new jars, i really hope we see something useful....

[jnats-test-examples.jar.zip](https://github.com/nats-io/nats.java/files/3364456/jnats-test-examples.jar.zip)
[jnats-test-fat.jar.zip](https://github.com/nats-io/nats.java/files/3364457/jnats-test-fat.jar.zip)

[2019-07-06 06:21] peng-w commented on #248
I am enjoying weekend，i will try it one monday. Thanks your helpful with me.

[2019-07-08 01:24] peng-w commented on #248
sasbury: Is this helpful to you?

![image](https://user-images.githubusercontent.com/6479081/60776895-cc1f1700-a161-11e9-9389-d075ab2ca4a5.png)

[2019-07-08 05:04] sasbury commented on #248
Ugh, i think i know what it might be, and i am mad for not thinking of this earlier. There is an issue with random numbers on linux, we even mention it on the readme, but i totally forgot - https://github.com/nats-io/nats.java#linux-platform-note - it is possible that this is the problem.

Can you try running with `-Djava.security.egd=file:/dev/./urandom`.

I hope this is, it, but am mad that it t

[2019-07-08 05:31] peng-w commented on #248
sasbury: Don't be angry, you are right.The problem is random numbers.You've been very helpful!

sasbury, derekcollison, sitepodmatt: Nats is an excellent messaging system, Nats team is an excellent team.I am honored to be a user, Thanks for the help from the nats team, again.

![GIF](https://user-images.githubusercontent.com/6479081/60785220-bbcc6380-a184-11e9-8227-2b7aea1091a5.gif)

[2019-07-08 05:51] derekcollison commented on #248
Thank you for being so patient!

[2019-07-08 05:53] sasbury commented on #248
LOL thanks peng-w for sticking with it. Hopefully next time i will remember my own note quicker ;-)

Glad things are running well now. Please let us know if you find any other issues.

Ok to close the issue?

[2019-07-08 05:58] #248 closed

[2019-07-09 17:19] sasbury commented on #193
We have opened the initial release for spring - https://github.com/nats-io/spring-nats - comments and PRs are more than welcome. @slamdev very similar to your work, but if you see any features you want to add feel free to shoot me a PR or an issue.

I plan to let this set for a week or so and then will do an initial release. It is available on sonatype now.

[2019-07-09 17:19] #193 closed

[2019-07-15 22:32] sasbury commented on #249
is this from the 1.x library? That code has been superseded with a completely new version.

[2019-07-18 06:53] sasbury opened #252 "UserInfo should use char[] not Strings for username and password"

[2019-07-18 21:30] sasbury commented on #252
should be fixed when 2.6.0 comes out, deprecated the old API and made a new one with char[]

[2019-07-22 05:49] sasbury opened #255 "Throw a special exception for Authentication problems on connect"
Needs to be a subclass of IOException to avoid problems with API change

[2019-07-22 05:51] sasbury commented on #255
java.nio.file.attribute.UserPrincipalNotFoundException? or just make one

[2019-07-22 17:34] sasbury commented on #255
From the new Java doc, there is a limitation here to keep the current semantics.

As of 2.6 the connect call with throw an io.nats.AuthenticationException if an authentication error occurred during connect, and the connect failed. Because multiple servers are tried, this exception may not indicate a problem on the "last server" tried, only that all the servers were tried and at least one failed be

[2019-07-22 17:37] sasbury commented on #252
Fixed in 43cf1ee90b4aaa0a738619b505e6448cc4b675ca

[2019-07-22 23:22] #255 closed

[2019-07-22 23:26] sasbury commented on #252
Fixed in 2.6.0

[2019-07-22 23:26] #252 closed

[2019-07-22 23:26] sasbury commented on #249
Out of date

[2019-07-22 23:26] #249 closed

[2019-07-22 23:26] sasbury commented on #197
released in 2.6.0

[2019-07-22 23:26] #197 closed

[2019-08-08 07:59] CarloWakefield commented on #183
May it be that `NatsTestServer.java` is no longer working?
It still uses the `gnatsd` command, but according to the release notes https://github.com/nats-io/nats-server/releases/tag/v2.0.0 and my current MacOS setup the command is now named `nats-server`.

Is my analysis correct?

[2019-08-08 15:25] sasbury commented on #183
I haven't updated the test class yet to the new executable name. But the code will work if you make a copy of the executable with the old name `gnatsd`' or set the environment variable `nats_server_path` to the point at the executable.

[2019-08-08 17:42] sasbury opened #257 "Add a respond API"

[2019-08-08 17:42] sasbury opened #258 "Add an API to sign bytes with the creds"

[2019-08-08 17:42] sasbury opened #259 "Mimic go client when handling security errors on connect/reconnect"
https://github.com/nats-io/nats.go/pull/506
https://github.com/nats-io/nats.go/pull/505
https://github.com/nats-io/nats.go/pull/503
https://github.com/nats-io/nats.go/pull/499

[2019-08-12 19:50] sasbury opened #260 "Update test server to use "nats-server" by default"
Related to #183

[2019-08-12 21:02] CarloWakefield commented on #183
One can also use NATS inside a [testcontainer](https://github.com/testcontainers/testcontainers-java).
Here is how NATS Streaming Server can be run inside a testcontainer: https://github.com/testcontainers/testcontainers-java/issues/1733#issuecomment-520593092.

[2019-08-19 09:57] Gorrgonzola commented on #182
Could you please elaborate on how you resolved this issue?

[2019-08-20 15:41] sasbury opened #261 "Create a "string auth handler" but use char[]"

[2019-08-23 15:17] sasbury opened #262 "Add @Deprecated to deprecated methods for jdk 11"

[2019-08-23 15:20] sasbury opened #263 "Add more info to Connection exception"
Related to https://github.com/nats-io/stan.java/issues/135

[2019-08-23 22:33] sasbury commented on #257
Adding getConnection to message, more flexible than respond.

[2019-08-23 22:43] sasbury commented on #261
If we do this it won't be dynamic, which is maybe ok.

[2019-08-29 10:52] kzeoprf22 opened #264 "android client can not connect to a remote gnatsd server"
Hi I am using nats.java (2.6.0) on an android device. The device is connected to local lan vi wifi. From the remote server I can ping the ip address of the android device. In the remote server I ran a gnatsd server on port  4222 and I used "-a" switch to bind it on the desired address which is in the same lan as the android device. In the androide device I granted permision for the "INTERNET" and

[2019-08-29 14:37] kzeoprf22 commented on #264
For everyone has the same problem, you must use the connect function of nats inside a new thread and not the main.

[2019-08-29 14:37] #264 closed

[2019-08-29 15:47] sasbury commented on #264
that was the easiest issue i solved all week :-) glad you got it working kzeoprf22! Thanks for posting the solution as well.

[2019-08-29 17:20] #243 closed

[2019-08-29 17:20] #260 closed

[2019-08-29 17:20] #262 closed

[2019-08-29 17:20] #263 closed

[2019-08-29 17:20] #257 closed

[2019-08-29 17:20] #261 closed

[2019-08-29 17:32] sasbury commented on #259
Fixed in 2.6.1

[2019-08-29 17:32] #259 closed

[2019-08-29 17:32] sasbury commented on #183
Changed the reference to nats-server in 2.6.1.

[2019-08-30 11:51] dvasko opened #266 "Error with jnats 2.6.1"
Can't build Android project.
Only change to the project is upgrading from  2.6.0 to 2.6.1

Error `Caused by: java.lang.UnsupportedOperationException: This feature requires ASM7`

`Caused by: org.gradle.api.internal.artifacts.transform.TransformException: Failed to transform artifact 'jnats.jar (io.nats:jnats:2.6.1)' to match attributes {artifactType=android-classes, org.gradle.usage=java-runtime-j

[2019-08-30 13:43] sim732 opened #267 "client 2.6.1 does not support for java 8"
2019-08-30 16:40:07.028 [ERROR] [a.a.OneForOneStrategy] [RadiusServer-akka.actor.default-dispatcher-6] - io/nats/client/ConnectionListener has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only recognizes class file versions up to 52.0

[2019-08-30 14:36] sasbury commented on #267
Shoot I will update the packages and the version today, since they are
readonly

On Fri, Aug 30, 2019, 6:43 AM sim732 <notifications@github.com> wrote:

[2019-08-30 14:37] sasbury commented on #266
I suspect this is related to accidentally building with 11, I will fix
today.

On Fri, Aug 30, 2019, 4:51 AM Dejan Vasko <notifications@github.com> wrote:

[2019-08-30 14:50] sasbury commented on #266
2.6.2 going to sonatype, should be on maven central in a couple hours.

Please confirm the fix when you get a chance.

[2019-08-30 14:50] sasbury commented on #267
2.6.2 going to sonatype, should be on maven central in a couple hours.

Please confirm the fix when you get a chance.

[2019-08-30 15:17] sasbury commented on #266
a new build is at https://oss.sonatype.org/content/repositories/releases if you can give it a try maven central takes a while

[2019-08-30 15:17] sasbury commented on #267
a new build is at https://oss.sonatype.org/content/repositories/releases if you can give it a try maven central takes a while

[2019-08-30 15:49] sim732 commented on #267
Hi,
Everything is ok, thank you.

[2019-08-30 16:14] #267 closed

[2019-09-02 07:03] peng-w opened #269 "How to select listener?"
Hello:
  I'm putting in a retry mechanism, and I find that I can use two classes!(I'd like to put offline data in redis and resend it when the network recovers.)

  Which is the official recommendation? ConnectionListener or ErrorListener?

  Thank you very much!

[2019-09-02 07:08] sasbury commented on #269
These two listeners are notified for different things, so many applications use both.

Reconnect notifications are sent to the connection listener, so that is likely the place you want for that scenario.

[2019-09-02 07:13] peng-w commented on #269
ok, @sasbury Thank you for your timely guidance!.

[2019-09-02 07:13] #269 closed

[2019-09-02 07:28] dvasko commented on #266
@sasbury 2.6.2 works

[2019-09-02 07:54] sasbury commented on #266
thanks for checking, closing the issue. Let me know if you have any more problems.

[2019-09-02 07:54] #266 closed

[2019-09-09 08:05] peng-w opened #271 "After thread interrupt, how to catch exception?"
![image](https://user-images.githubusercontent.com/6479081/64513446-27fd4c00-d31b-11e9-9316-812d2e3c9e2b.png)

The code in the box ends the program. How do you catch and reconnect exceptions?

[2019-09-09 16:01] sasbury commented on #271
When you lose the connection it means the NATS connection is closed. You would re-open it and then recreate your streaming connection.

Note, if it is just a transient problem where the nats connection auto-reconnects you shouldn't have to do the full connect on the streaming side.

[2019-09-10 01:10] peng-w commented on #271
My understanding is wrong, Thank you @sasbury.

[2019-09-10 01:10] #271 closed

[2019-09-12 15:31] igoberman opened #272 "Add ability to publish byte arrays with specified offset and length."
The current API only allows to publish 'whole' byte array. It means that caller has to allocate array of the precise length to make publish call. This potentially leads to a lot of GC allocations.

Could you add ability to publish array with offset and length. Something like below:

Existing:
void publish(String subject, byte[] data);
To add:
void publish(String subject, byte[] data, int offset, i

[2019-09-24 01:56] oliverhausler opened #273 "TLS handshake error: EOF"
Connecting to NATS via TLS frequently fails with Java client.

- Increasing the timeout on both sides to 10s helps to get some more connections.
- Connecting from Windows always succeeds.
- Connecting without TLS always succeeds.
- Connecting using the Node.js library always succeeds.

but

- Connecting from Ubuntu 18.04 fails, with or without conscrypt.

I tried using the conscrypt library. Could

[2019-09-24 03:10] sasbury commented on #273
TLS on Java 8 can be junk, but there are a few things to try....

1. Set `-Djava.security.egd=file:/dev/./urandom` when you run on linux. There is a bug in the other random provider that can cause major startup times. Since TLS is usually early it can often be the first to use the egd. Note, this doesn't effect windows or mac so that is likely the issue.

2. Try setting the traceConnection option

[2019-09-24 14:57] oliverhausler commented on #273
@sasbury Stephen, I'll give feedback along the way, so you have the points we find.

We noticed that you guys are using an elliptic curve algorithm. After switching to conscrypt, we saw this:
[code]

It went away after installing the Linux `ca-certificates` package.

[2019-09-24 16:07] sasbury commented on #273
Changing the cipher suite is definitely an option, for example TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256 appears to do better than TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 because of the Java GCM implementation (i think).

However, the java.security.egd setting, the use of conscrypt and going to JDK 11 are the three biggest boosts we have found.

[2019-09-24 17:41] oliverhausler commented on #273
This here talks about your trick 1: https://ruleoftech.com/2016/avoiding-jvm-delays-caused-by-random-number-generation

It doesn't work for us, due to inconsistent read times. As others state, sometimes it takes ms to read the urandom, sometimes it takes minutes. This also seems to be the reason why the connection sometimes works and sometimes does not.

[2019-09-24 19:31] oliverhausler commented on #273
@sasbury I am trying to force the client to `TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256`.

How can I explicitly force a specific cipher suite on the client? I don't seem to have access to the SSLSocket which you create here: https://github.com/nats-io/nats.java/blob/7cbf32c34ebef4876bc85bebec716c2c55e69838/src/main/java/io/nats/client/impl/SocketDataPort.java#L72-L79

[2019-09-24 19:54] oliverhausler opened #274 "ConnectionListener shows DISCONNECTED twice"
`.connectionListener((conn, type) -> log.info(name + ": " + type.name()))` logs this:

![image](https://user-images.githubusercontent.com/8090341/65545515-602f8d80-deca-11e9-9e8d-bf50694a36fd.png)

Probably not a big issue, but wanted to let you know.

[2019-09-24 20:18] sasbury commented on #273
i think you disable the ones you don't want with jdk.certpath.disabledAlgorithms

https://www.java.com/en/configure_crypto.html

I haven't done this part, but a user of the library did for testing. I think they ended up using conscrypt instead.

[2019-09-24 20:19] sasbury commented on #274
Any chance you could capture a stack trace just so i can track this down. As you say, not a huge deal but maybe an easy fix.

[2019-09-24 20:26] oliverhausler commented on #273
I just reverted. If I use conscrypt, my Netty and socket.io server dies after 20mins. :(

_No idea what to do next, I need to think about this for a while. Please leave open and I'll post more as I solve things. Maybe it helps._

[2019-09-24 20:30] oliverhausler commented on #274
There is no stacktrace. The exception you see comes from the ´errorListener` not the `connectionListener`. On the `connectionListener` I am just seeing the event.

I could get you the stacktrace for the `exceptionOccurred` event, but I don't think it will help much.

[2019-09-24 20:41] sasbury commented on #274
sorry, i meant, can you do a `(new Exception()).printStackTrace()` in that callback so we can see where they happen. I can try it on a sample when I get a chance, just figured you might be able to grab it while you are poking around.

[2019-09-24 20:42] sasbury commented on #273
I will leave open. There are definitely issues with Java SSL.

Are you able to try JDK 11 just to see if it helps?

[2019-09-24 20:46] oliverhausler commented on #273
I must see if other libraries I use are compatible, but I will probably try and let you know.

_May take some time as I need to work on other more urgent stuff first._

[2019-09-24 23:05] oliverhausler commented on #274
I don't see much as our k8s environment has just been set up and logging isn't fully configured. Stack traces are not in sequence. Hope it helps.

Only line which I see repeatedly in NATS is this: `at io.nats.client.impl.NatsConnection.lambda$processConnectionEvent$10(NatsConnection.java:1420)`

![image](https://user-images.githubusercontent.com/8090341/65556618-025c6f00-dee5-11e9-9079-c14dbb6db3d

[2019-10-18 04:05] felixmario commented on #216
You can use `io.nats.client.impl.DataPort` and override connect.
But `io.nats.client.impl.NatsConnection` is **package** class, so .........

[2019-10-18 11:07] felixmario commented on #216
I have a solution.

[code]

[2019-10-18 22:30] sasbury commented on #216
thanks felix, i have to do some maintenance on the library next week and will look at adding this.

[2019-10-24 18:31] sasbury opened #275 "Randomize on initial connect"
https://github.com/nats-io/stan.java/issues/145

Initial connect should randomize like reconnect.